.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  outline: none;
  border: none;
  width: fit-content;
  text-decoration: none;
  border-radius: 6px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
  flex: none;
  font-family: $font-main;

  &-default {
    background: $color-1;
    color: $CULT-VOID;
    font-size: 18px;
    padding: 0 24px;

    &:hover {
      color: $CULT-FLAME;
      background: $color-12;
    }
  }

  &-grad {
    background-image: linear-gradient(to left, $CULT-FLAME, #ff9d4c);
    background-size: 150% 100%;
    background-position: 100% 0;
    transition: all 0.5s ease-in-out;
    padding: 0 34px;
    font-size: 18px;
    color: $SACRED-LIGHT;

    &:hover {
      background-position: 0 0;
    }
  }

  &-second {
    color: $SHADOW-RITE;
    font-size: 14px;
    padding: 0 12px;
  }

  &-flame {
    background: $CULT-FLAME;
    font-size: 18px;
    padding: 16px 20px;
    color: $SACRED-LIGHT;
  }

  &-sm {
    height: 32px;
  }

  &-md {
    height: 52px;
  }

  &-lg {
  }

  &-fw {
    width: 100%;
  }

  &-br {
    border-radius: 100px;
  }

  &-commercial {
    background: $SACRED-LIGHT;
    font-size: 12px;
    padding: 10px;
    color: $CULT-FLAME;
    height: 28px;
  }

  &-mini {
    color: $SHADOW-RITE;
    font-size: 12px;
    padding: 0 10px;
    height: 28px;
  }

  &--default {
    background: #f5f4f3;
    color: $SHADOW-RITE;

    &:hover {
      background: $color-12;
      color: $CULT-FLAME;
    }

    &-alt {
      background: rgba($CULT-FLAME, 0.12);
      color: $CULT-FLAME;

      &:hover {
        background: #f5f4f3;
        color: $SHADOW-RITE;
      }
    }
  }

  &--primary {
    background: $CULT-FLAME;
    color: $SACRED-LIGHT;

    &:hover {
      background: $SPICE-EMBER;
    }
  }

  &--commercial {
    background: $SACRED-LIGHT;
    font-size: 12px;
    padding: 10px;
    color: $CULT-FLAME;
    height: 28px;
  }

  &--glass {
    background: transparent;
    color: $URBAN-STEEL;
    border: 1px solid $URBAN-STEEL;
  }

  &--grad {
    background-image: linear-gradient(to left, $CULT-FLAME, #ff9d4c);
    background-size: 150% 100%;
    background-position: 100% 0;
    transition: all 0.5s ease-in-out;
    color: $SACRED-LIGHT;

    &:hover {
      background-position: 0 0;
    }
  }

  &--rounded {
    border-radius: 50px;
  }

  &--f18 {
    font-size: 18px;
  }

  &--f16 {
    font-size: 16px;
  }

  &--f14 {
    font-size: 14px;
  }

  &--f12 {
    font-size: 12px;
  }

  &--xs {
    height: 20px;
    padding: 0 12px;
  }

  &--sm {
    height: 32px;
    padding: 0 12px;
  }

  &--md {
    height: 36px;
    padding: 0 12px;
  }

  &--lg {
    height: 44px;
    padding: 0 24px;

    &-2 {
      height: 44px;
      padding: 0 16px;
    }
  }

  &--mini {
    font-size: 12px;
    padding: 0 10px;
    height: 28px;
  }

  &--fa {
    flex: auto;
  }

  &--fw {
    width: 100%;
    padding: 0 10px;
  }

  &--go-back {
    background: #f5f4f3;
    padding-left: 6px;

    &::before {
      content: '';
      display: flex;
      width: 20px;
      height: 20px;
      background: center / contain no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15.8329C12.3903 15.8335 12.2816 15.8125 12.1801 15.771C12.0786 15.7295 11.9862 15.6684 11.9083 15.5912L6.90834 10.5912C6.75313 10.4351 6.66602 10.2239 6.66602 10.0037C6.66602 9.78355 6.75313 9.57234 6.90834 9.4162L11.9083 4.4162C12.0678 4.27968 12.2728 4.20834 12.4826 4.21644C12.6923 4.22454 12.8912 4.31149 13.0396 4.4599C13.1881 4.60831 13.275 4.80726 13.2831 5.01699C13.2912 5.22672 13.2199 5.43178 13.0833 5.5912L8.67501 9.99953L13.0833 14.4079C13.2004 14.5239 13.2803 14.6721 13.3132 14.8336C13.346 14.9951 13.3302 15.1627 13.2677 15.3152C13.2053 15.4678 13.099 15.5984 12.9624 15.6905C12.8257 15.7826 12.6648 15.8322 12.5 15.8329Z' fill='%23322733'/%3E%3C/svg%3E");
    }
  }

  &--go-forward {
    background: #f5f4f3;
    padding-right: 6px;

    &::after {
      content: '';
      display: flex;
      width: 20px;
      height: 20px;
      background: center / contain no-repeat;
      transform: rotate(180deg);
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15.8329C12.3903 15.8335 12.2816 15.8125 12.1801 15.771C12.0786 15.7295 11.9862 15.6684 11.9083 15.5912L6.90834 10.5912C6.75313 10.4351 6.66602 10.2239 6.66602 10.0037C6.66602 9.78355 6.75313 9.57234 6.90834 9.4162L11.9083 4.4162C12.0678 4.27968 12.2728 4.20834 12.4826 4.21644C12.6923 4.22454 12.8912 4.31149 13.0396 4.4599C13.1881 4.60831 13.275 4.80726 13.2831 5.01699C13.2912 5.22672 13.2199 5.43178 13.0833 5.5912L8.67501 9.99953L13.0833 14.4079C13.2004 14.5239 13.2803 14.6721 13.3132 14.8336C13.346 14.9951 13.3302 15.1627 13.2677 15.3152C13.2053 15.4678 13.099 15.5984 12.9624 15.6905C12.8257 15.7826 12.6648 15.8322 12.5 15.8329Z' fill='%23322733'/%3E%3C/svg%3E");
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      color: inherit;
      font-size: inherit;
    }
  }

  &--mobile {
    display: none;

    @include respond-to(lg) {
      display: flex;
    }
  }
}
