.conferences {
  display: flex;
  flex-direction: column;
  gap: 20px;
  $confs: &;

  &_title {
  }

  &_calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    &_icon {
      color: $CULT-FLAME;
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &_actions {
  }

  &_more {
    font-size: 18px;
    text-decoration: none;
    color: $SHADOW-RITE;
    line-height: 1;
    font-weight: 500;
  }

  &-mini {
    #{$confs}_items {
      gap: 16px;
    }
    #{$confs}_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.conference {
  display: grid;
  grid-template-columns: 82px 1fr 1fr;
  align-items: center;
  gap: 16px;
  position: relative;
  $conf: &;

  @include respond-to(xl) {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  &:not(:last-of-type) {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $color-1;
      position: absolute;
      left: 0;
      bottom: -24px;
    }
  }

  &_dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @include respond-to(xl) {
      grid-column: 1/3;
      align-items: flex-start;
    }

    @include respond-to(lg) {
      flex-direction: row;
      align-items: center;
    }

    &_big {
      font-size: 32px;
      line-height: 1;
      color: $SHADOW-RITE;
      font-weight: 400;

      @include respond-to(md) {
        font-size: 28px;
      }
    }
    &_small {
      line-height: 1;
      font-size: 16px;
      color: $SHADOW-RITE;

      @include respond-to(md) {
        font-size: 14px;
      }
    }

    &--new {
      display: flex;
      flex-direction: column;
      gap: 4px;

      @include respond-to(xl) {
        flex-direction: row;
        gap: 16px;
      }

      #{$conf}_date {
        display: grid;
        grid-template-columns: auto auto;
        align-items: flex-end;
        gap: 4px;

        &_big {
          font-size: 24px;
          line-height: 1;
          color: $SHADOW-RITE;
          font-weight: 400;

          @include respond-to(md) {
            font-size: 20px;
          }
        }
        &_small {
          line-height: 1;
          font-size: 16px;
          color: $SHADOW-RITE;

          @include respond-to(md) {
            font-size: 14px;
          }

          &:first-child {
            text-align: right;
          }

          &:last-child {
            grid-column: 1/3;
          }
        }
      }
    }
  }
  &_preview {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;

    @include respond-to(xl) {
      aspect-ratio: 1/1;
    }

    @include respond-to(lg) {
      aspect-ratio: unset;
    }

    @include respond-to(md) {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: auto;

      @include respond-to(xl) {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &_title {
    line-height: 1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: $SHADOW-RITE;
  }

  &_location {
    display: flex;
    align-items: center;
    gap: 4px;

    b,
    span,
    p {
      line-height: 1;
      font-size: 14px;
    }

    b {
      color: $SHADOW-RITE;
    }

    span,
    p {
      color: $URBAN-STEEL;
    }

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_153)'%3E%3Cpath d='M10.6711 11.0714C12.3737 8.39975 12.1597 8.73306 12.2087 8.66341C12.8286 7.78909 13.1562 6.76006 13.1562 5.6875C13.1562 2.84313 10.8481 0.5 8 0.5C5.16119 0.5 2.84375 2.8385 2.84375 5.6875C2.84375 6.75938 3.17825 7.81534 3.81844 8.70144L5.32881 11.0714C3.71397 11.3196 0.96875 12.0591 0.96875 13.6875C0.96875 14.2811 1.35619 15.127 3.20194 15.7862C4.49075 16.2465 6.19472 16.5 8 16.5C11.3758 16.5 15.0312 15.5478 15.0312 13.6875C15.0312 12.0588 12.2893 11.3201 10.6711 11.0714ZM4.60153 8.18578C4.59638 8.17773 4.59099 8.16983 4.58537 8.16209C4.05266 7.42922 3.78125 6.56066 3.78125 5.6875C3.78125 3.34319 5.66894 1.4375 8 1.4375C10.3262 1.4375 12.2188 3.34403 12.2188 5.6875C12.2188 6.56206 11.9525 7.40116 11.4486 8.11472C11.4034 8.17428 11.639 7.80828 8 13.5184L4.60153 8.18578ZM8 15.5625C4.31269 15.5625 1.90625 14.4787 1.90625 13.6875C1.90625 13.1558 3.14275 12.2814 5.88275 11.9406L7.60469 14.6426C7.64703 14.709 7.70545 14.7637 7.77454 14.8016C7.84363 14.8395 7.92116 14.8594 7.99997 14.8594C8.07877 14.8594 8.15631 14.8395 8.2254 14.8016C8.29449 14.7637 8.35291 14.709 8.39525 14.6426L10.1172 11.9406C12.8572 12.2814 14.0938 13.1558 14.0938 13.6875C14.0938 14.4719 11.709 15.5625 8 15.5625Z' fill='%23322733'/%3E%3Cpath d='M8 3.34375C6.70766 3.34375 5.65625 4.39516 5.65625 5.6875C5.65625 6.97984 6.70766 8.03125 8 8.03125C9.29234 8.03125 10.3438 6.97984 10.3438 5.6875C10.3438 4.39516 9.29234 3.34375 8 3.34375ZM8 7.09375C7.22459 7.09375 6.59375 6.46291 6.59375 5.6875C6.59375 4.91209 7.22459 4.28125 8 4.28125C8.77541 4.28125 9.40625 4.91209 9.40625 5.6875C9.40625 6.46291 8.77541 7.09375 8 7.09375Z' fill='%23322733'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_153'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &_tags {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }

  &_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0 10px;
    height: 24px;
    border-radius: 40px;
    font-size: 12px;
    color: $SHADOW-RITE;
    border: 1px solid $URBAN-STEEL;
  }

  &_actions {
    display: flex;
    align-items: center;
    gap: 8px;

    @include respond-to(md) {
      flex-direction: column;
    }

    .btn {
      @include respond-to(md) {
        width: 100%;
      }
    }

    &.mini {
    }
  }

  &-mini {
    grid-template-columns: 72px 1fr;
    align-items: flex-start;
    gap: 16px 12px;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    border: 1px solid $color-1;

    @include respond-to(xl) {
      grid-template-columns: 1fr;
      // padding: 8px;
      // border: none;
      // border-bottom: 1px solid $color-1;
    }

    &::after {
      display: none !important;
    }

    #{$conf}_dates {
      @include respond-to(xl) {
        grid-column: unset;
      }
      &_big {
        font-size: 28px;
      }
      &_small {
        font-size: 14px;
      }
    }
    #{$conf}_preview {
      width: 100%;
      height: 72px;
      grid-column: 1/2;
      grid-row: 2/3;

      @include respond-to(xl) {
        grid-column: unset;
        grid-row: unset;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #{$conf}_content {
      grid-column: 2/3;
      grid-row: 2/3;
      gap: 12px;

      @include respond-to(xl) {
        grid-column: unset;
        grid-row: unset;
      }
    }
    #{$conf}_title {
      font-size: 14px;
      font-weight: 500;
    }
    #{$conf}_location {
      flex-wrap: wrap;
      b,
      span,
      p {
        font-size: 12px;
      }

      b {
      }

      span,
      p {
      }

      &::before {
        width: 14px;
        height: 14px;
      }
    }
    #{$conf}_tags {
      flex-wrap: wrap;
    }
    #{$conf}_tag {
      padding: 0 8px;
      height: 20px;
      border-radius: 40px;
    }
    #{$conf}_actions {
      grid-column: 1/3;

      @include respond-to(xl) {
        grid-column: unset;
        grid-row: unset;
      }

      &:not(.mini) {
        display: none;
      }
    }

    &#{$conf}-commercial {
      background: $color-12;
      border-color: transparent;

      #{$conf}_dates,
      #{$conf}_date {
        &_big {
          color: $CULT-FLAME;
        }
        &_small {
          color: $CULT-FLAME;
        }
      }
      #{$conf}_title {
        color: $CULT-FLAME;
      }
      #{$conf}_location {
        b,
        span,
        p {
          font-size: 12px;
          color: $CULT-FLAME;
        }

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_153)'%3E%3Cpath d='M10.6711 11.0714C12.3737 8.39975 12.1597 8.73306 12.2087 8.66341C12.8286 7.78909 13.1562 6.76006 13.1562 5.6875C13.1562 2.84313 10.8481 0.5 8 0.5C5.16119 0.5 2.84375 2.8385 2.84375 5.6875C2.84375 6.75938 3.17825 7.81534 3.81844 8.70144L5.32881 11.0714C3.71397 11.3196 0.96875 12.0591 0.96875 13.6875C0.96875 14.2811 1.35619 15.127 3.20194 15.7862C4.49075 16.2465 6.19472 16.5 8 16.5C11.3758 16.5 15.0312 15.5478 15.0312 13.6875C15.0312 12.0588 12.2893 11.3201 10.6711 11.0714ZM4.60153 8.18578C4.59638 8.17773 4.59099 8.16983 4.58537 8.16209C4.05266 7.42922 3.78125 6.56066 3.78125 5.6875C3.78125 3.34319 5.66894 1.4375 8 1.4375C10.3262 1.4375 12.2188 3.34403 12.2188 5.6875C12.2188 6.56206 11.9525 7.40116 11.4486 8.11472C11.4034 8.17428 11.639 7.80828 8 13.5184L4.60153 8.18578ZM8 15.5625C4.31269 15.5625 1.90625 14.4787 1.90625 13.6875C1.90625 13.1558 3.14275 12.2814 5.88275 11.9406L7.60469 14.6426C7.64703 14.709 7.70545 14.7637 7.77454 14.8016C7.84363 14.8395 7.92116 14.8594 7.99997 14.8594C8.07877 14.8594 8.15631 14.8395 8.2254 14.8016C8.29449 14.7637 8.35291 14.709 8.39525 14.6426L10.1172 11.9406C12.8572 12.2814 14.0938 13.1558 14.0938 13.6875C14.0938 14.4719 11.709 15.5625 8 15.5625Z' fill='%23fe6e00'/%3E%3Cpath d='M8 3.34375C6.70766 3.34375 5.65625 4.39516 5.65625 5.6875C5.65625 6.97984 6.70766 8.03125 8 8.03125C9.29234 8.03125 10.3438 6.97984 10.3438 5.6875C10.3438 4.39516 9.29234 3.34375 8 3.34375ZM8 7.09375C7.22459 7.09375 6.59375 6.46291 6.59375 5.6875C6.59375 4.91209 7.22459 4.28125 8 4.28125C8.77541 4.28125 9.40625 4.91209 9.40625 5.6875C9.40625 6.46291 8.77541 7.09375 8 7.09375Z' fill='%23fe6e00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_153'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
      #{$conf}_tag {
        border-color: $CULT-FLAME;
        color: $CULT-FLAME;
      }
    }
  }

  &-commercial {
    border-color: transparent;

    #{$conf}_dates,
    #{$conf}_date {
      &_big {
        color: $CULT-FLAME;
      }
      &_small {
        color: $CULT-FLAME;
      }
    }
    #{$conf}_title {
      color: $CULT-FLAME;
    }
    #{$conf}_location {
      b,
      span,
      p {
        font-size: 12px;
        color: $CULT-FLAME;
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_153)'%3E%3Cpath d='M10.6711 11.0714C12.3737 8.39975 12.1597 8.73306 12.2087 8.66341C12.8286 7.78909 13.1562 6.76006 13.1562 5.6875C13.1562 2.84313 10.8481 0.5 8 0.5C5.16119 0.5 2.84375 2.8385 2.84375 5.6875C2.84375 6.75938 3.17825 7.81534 3.81844 8.70144L5.32881 11.0714C3.71397 11.3196 0.96875 12.0591 0.96875 13.6875C0.96875 14.2811 1.35619 15.127 3.20194 15.7862C4.49075 16.2465 6.19472 16.5 8 16.5C11.3758 16.5 15.0312 15.5478 15.0312 13.6875C15.0312 12.0588 12.2893 11.3201 10.6711 11.0714ZM4.60153 8.18578C4.59638 8.17773 4.59099 8.16983 4.58537 8.16209C4.05266 7.42922 3.78125 6.56066 3.78125 5.6875C3.78125 3.34319 5.66894 1.4375 8 1.4375C10.3262 1.4375 12.2188 3.34403 12.2188 5.6875C12.2188 6.56206 11.9525 7.40116 11.4486 8.11472C11.4034 8.17428 11.639 7.80828 8 13.5184L4.60153 8.18578ZM8 15.5625C4.31269 15.5625 1.90625 14.4787 1.90625 13.6875C1.90625 13.1558 3.14275 12.2814 5.88275 11.9406L7.60469 14.6426C7.64703 14.709 7.70545 14.7637 7.77454 14.8016C7.84363 14.8395 7.92116 14.8594 7.99997 14.8594C8.07877 14.8594 8.15631 14.8395 8.2254 14.8016C8.29449 14.7637 8.35291 14.709 8.39525 14.6426L10.1172 11.9406C12.8572 12.2814 14.0938 13.1558 14.0938 13.6875C14.0938 14.4719 11.709 15.5625 8 15.5625Z' fill='%23fe6e00'/%3E%3Cpath d='M8 3.34375C6.70766 3.34375 5.65625 4.39516 5.65625 5.6875C5.65625 6.97984 6.70766 8.03125 8 8.03125C9.29234 8.03125 10.3438 6.97984 10.3438 5.6875C10.3438 4.39516 9.29234 3.34375 8 3.34375ZM8 7.09375C7.22459 7.09375 6.59375 6.46291 6.59375 5.6875C6.59375 4.91209 7.22459 4.28125 8 4.28125C8.77541 4.28125 9.40625 4.91209 9.40625 5.6875C9.40625 6.46291 8.77541 7.09375 8 7.09375Z' fill='%23fe6e00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_153'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
    #{$conf}_tag {
      border-color: $CULT-FLAME;
      color: $CULT-FLAME;
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    padding: 16px;
    height: 100%;

    @include respond-to(xl-2) {
      padding: 8px;
      gap: 4px;
    }

    @include respond-to(lg) {
      width: fit-content;
    }

    @include respond-to(md) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }

    @include respond-to(sm) {
      display: grid;
      grid-template-columns: 140px 1fr;
      gap: 12px;
    }

    &#{$conf}-commercial {
      background: rgba($CULT-FLAME, 0.12);
    }

    #{$conf}_preview {
      height: auto;
      aspect-ratio: 1/1;

      @include respond-to(lg) {
        width: 200px;
      }

      @include respond-to(md) {
        width: 100%;
        grid-column: 1/2;
        grid-row: 3/4;
      }

      @include respond-to(sm) {
        grid-column: 1/2;
        grid-row: 3/5;
      }
    }

    #{$conf}_title {
      @include respond-to(xl) {
        font-size: 12px !important;
      }
    }

    #{$conf}_dates {
      @include respond-to(md) {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      @include respond-to(sm) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }

    #{$conf}_tag {
      @include respond-to(xl) {
        font-size: 12px !important;
      }
    }

    #{$conf}_content {
      @include respond-to(md) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
    }
    #{$conf}_actions {
      width: 100%;
      @include respond-to(xl-2) {
        flex-direction: column;

        .btn {
          width: 100%;
        }
      }

      @include respond-to(md) {
        grid-column: 3/4;
        grid-row: 3/4;
      }

      @include respond-to(sm) {
        grid-column: 2/3;
        grid-row: 4/5;
      }
    }

    &_title {
      color: $CULT-FLAME !important;

      @include respond-to(xl-2) {
        font-size: 12px !important;
      }

      @include respond-to(md) {
        grid-column: 1/4;
      }

      @include respond-to(sm) {
        grid-column: 1/3;
      }
    }
  }

  &-past {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    #{$conf}_preview {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    #{$conf}_content {
      width: 100%;
    }
  }
}
