.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  $filters: &;

  @include respond-to(md) {
    gap: 4px;
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $color-1;
    color: $URBAN-STEEL;
    padding: 0 12px;
    height: 36px;
    border-radius: 6px;
    background: none;
    cursor: pointer;

    @include respond-to(xl) {
      font-size: 14px;
    }

    @include respond-to(md) {
      height: 32px;
    }

    @include respond-to(sm) {
      font-size: 14px;
      padding: 0 8px;
      height: 28px;
    }

    &.active {
      background: $color-12;
      color: $CULT-FLAME;
      border-color: transparent;
    }

    &-default {
      margin-left: auto;
      color: $SHADOW-RITE;

      @include respond-to(xl) {
        width: 36px;
        background: center / auto no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.83301H6C5.11627 1.83405 4.26903 2.18557 3.64413 2.81046C3.01924 3.43535 2.66771 4.28259 2.66666 5.16632V13.8317C2.66669 14.075 2.73329 14.3137 2.85926 14.5219C2.98523 14.7301 3.16576 14.8998 3.38129 15.0128C3.59683 15.1257 3.83915 15.1775 4.08202 15.1626C4.32489 15.1476 4.55905 15.0665 4.75913 14.928L7.99869 12.6833L11.2412 14.928C11.4413 15.0665 11.6754 15.1477 11.9183 15.1626C12.1611 15.1775 12.4034 15.1257 12.619 15.0128C12.8345 14.8999 13.015 14.7301 13.1409 14.5219C13.2668 14.3137 13.3334 14.075 13.3333 13.8317V5.16632C13.3323 4.28259 12.9808 3.43535 12.3559 2.81046C11.731 2.18557 10.8837 1.83405 10 1.83301ZM12 13.8317L8.75813 11.5869C8.53468 11.4334 8.26995 11.3512 7.99886 11.3512C7.72776 11.3512 7.46304 11.4334 7.23959 11.5869L4 13.8317V5.16632C4.00058 4.63606 4.21148 4.12769 4.58643 3.75275C4.96137 3.3778 5.46974 3.1669 6 3.16632H10C10.5303 3.1669 11.0386 3.3778 11.4136 3.75275C11.7885 4.12769 11.9994 4.63606 12 5.16632V13.8317Z' fill='%23AEB2B7'/%3E%3C/svg%3E");
      }

      @include respond-to(md) {
        width: 32px;
      }

      span {
        @include respond-to(xl) {
          display: none;
        }
      }
    }
  }

  &-alt {
    width: 100%;
    display: flex;
    flex-direction: column;

    #{$filters}_items {
      width: 100%;
      display: flex;
      align-items: center;
      overflow-x: auto;
      gap: 8px;
    }
    #{$filters}_item {
      height: 32px;
      padding: 0 8px 0 12px;
      display: flex;
      align-items: center;
      gap: 2px;
      position: relative;
      flex: none;

      &-calendar {
        width: 32px;
        padding: 0;

        &_icon {
          color: $URBAN-STEEL;
        }
      }

      &-arrow {
        &::after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8065 8.52222C15.8071 8.63189 15.7861 8.74061 15.7446 8.84214C15.7032 8.94368 15.6421 9.03602 15.5648 9.11389L10.5648 14.1139C10.4087 14.2691 10.1975 14.3562 9.97733 14.3562C9.75718 14.3562 9.54597 14.2691 9.38983 14.1139L4.38983 9.11389C4.25331 8.95447 4.18197 8.74941 4.19007 8.53968C4.19818 8.32995 4.28512 8.131 4.43353 7.98259C4.58194 7.83417 4.78089 7.74723 4.99062 7.73913C5.20035 7.73103 5.40542 7.80237 5.56483 7.93889L9.97317 12.3472L14.3815 7.93889C14.4976 7.82187 14.6457 7.7419 14.8072 7.70907C14.9687 7.67625 15.1364 7.69206 15.2889 7.7545C15.4414 7.81694 15.572 7.9232 15.6641 8.05985C15.7563 8.19651 15.8058 8.35741 15.8065 8.52222Z' fill='%23AEB2B7'/%3E%3C/svg%3E");
          transition: all 0.2s linear;
        }
      }

      &-past {
        background: #f5f4f3;
        text-decoration: none;
        margin-left: auto;
        padding: 0 12px;
      }
    }
    #{$filters}_body {
    }
    #{$filters}_content {
      transition: all 0.4s ease-in-out; /* Изменено на ease-in-out для более плавного эффекта */
      max-height: 0; /* Изменено с height на max-height */
      overflow: hidden; /* Скрываем содержимое при сворачивании */
      opacity: 0;
      visibility: hidden;
      gap: 40px;
      will-change: max-height, opacity; /* Оптимизация для анимации */

      &_wrapper {
        padding: 24px 16px;
        border: 1px solid $color-1;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-calendar {
          display: grid;
          grid-template-columns: 360px 1fr;
          gap: 16px;
          padding: 0;
          border: none;

          @include respond-to(xl-2) {
            grid-template-columns: 300px 1fr;
            gap: 8px;
          }

          @include respond-to(xl) {
            grid-template-columns: 240px 1fr;
          }

          @include respond-to(lg) {
            grid-template-columns: 360px 1fr;
            gap: 16px;
          }

          @include respond-to(md) {
            grid-template-columns: 1fr;
          }
        }
      }

      &_event {
        width: 100%;
      }

      &_title {
        &-alt {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      &_calendar {
        width: 100%;
        padding: 16px;
        border: 1px solid $color-1;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &_checkboxes {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
      }

      &_label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        color: $SHADOW-RITE;
        font-weight: 500;
        padding: 0 8px;
        height: 32px;
        border-radius: 6px;
        border: 1px solid $color-1;
        line-height: 1;

        span {
          color: $URBAN-STEEL;
          font-weight: 400;
        }
      }

      &.show {
        padding-top: 24px;
        max-height: 2000px; /* Достаточно большое значение для вмещения контента */
        opacity: 1;
        visibility: visible;
      }
    }
    input[type='checkbox'] {
      position: absolute; /* Убираем из потока */
      opacity: 0; /* Делаем невидимым */
      z-index: -1; /* Уводим под другие элементы */
      width: 0; /* Для лучшей совместимости */
      height: 0;

      &:checked + label {
        &#{$filters}_item {
          &-arrow {
            background: #fff;
            &::after {
              transform: rotate(-180deg);
            }
          }
        }
        #{$filters}_item {
          &-calendar {
            &_icon {
              color: $CULT-FLAME;
            }
          }
        }
        &#{$filters}_content {
          &_label {
            background: rgba($CULT-FLAME, 0.08);
            border-color: rgba($CULT-FLAME, 0.12);
            color: $CULT-FLAME;
          }
        }
      }
    }
  }

  &-vacancies {
    width: 100%;
    display: flex;
    flex-direction: column;

    #{$filters}_items {
      width: 100%;
      display: flex;
      display: grid;
      grid-template-columns: 1fr 36px 136px;
      gap: 8px;

      @include respond-to(xl) {
        grid-template-columns: 1fr 36px;
      }

      @include respond-to(lg) {
        grid-template-columns: 1fr 36px 136px;
      }

      @include respond-to(sm) {
        grid-template-columns: 1fr 36px;
      }
    }

    #{$filters}_item {
      height: 36px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      gap: 2px;
      position: relative;
      flex: none;

      &-icon {
        width: 36px;
        padding: 0;

        &_icon {
          color: $CULT-FLAME;
        }
      }

      &-submit {
        width: 100%;
        padding: 0;
        border: none;

        @include respond-to(sm) {
          grid-column: 1/3;
        }

        .btn {
          width: 100%;
        }
      }

      &-input {
        font-size: 16px;
        outline: none;

        @include respond-to(sm) {
          font-size: 14px;
        }

        &::placeholder {
          color: $URBAN-STEEL;
          font-weight: 400;
        }
      }
    }
    #{$filters}_body {
    }
    #{$filters}_content {
      transition: all 0.4s ease-in-out; /* Изменено на ease-in-out для более плавного эффекта */
      max-height: 0; /* Изменено с height на max-height */
      overflow: hidden; /* Скрываем содержимое при сворачивании */
      opacity: 0;
      visibility: hidden;
      gap: 40px;
      will-change: max-height, opacity; /* Оптимизация для анимации */

      &_arrow {
        &::after {
          content: '';
          display: block;
          width: 28px;
          height: 28px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8065 8.52222C15.8071 8.63189 15.7861 8.74061 15.7446 8.84214C15.7032 8.94368 15.6421 9.03602 15.5648 9.11389L10.5648 14.1139C10.4087 14.2691 10.1975 14.3562 9.97733 14.3562C9.75718 14.3562 9.54597 14.2691 9.38983 14.1139L4.38983 9.11389C4.25331 8.95447 4.18197 8.74941 4.19007 8.53968C4.19818 8.32995 4.28512 8.131 4.43353 7.98259C4.58194 7.83417 4.78089 7.74723 4.99062 7.73913C5.20035 7.73103 5.40542 7.80237 5.56483 7.93889L9.97317 12.3472L14.3815 7.93889C14.4976 7.82187 14.6457 7.7419 14.8072 7.70907C14.9687 7.67625 15.1364 7.69206 15.2889 7.7545C15.4414 7.81694 15.572 7.9232 15.6641 8.05985C15.7563 8.19651 15.8058 8.35741 15.8065 8.52222Z' fill='%23AEB2B7'/%3E%3C/svg%3E");
          transition: all 0.2s linear;
          transform: rotate(180deg);
        }
      }

      &_wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }

      &_box {
        display: grid;
        grid-template-columns: 136px 1fr;
        gap: 16px;

        @include respond-to(xl) {
          grid-template-columns: 1fr;
        }
      }

      &_title {
        span {
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          color: $SHADOW-RITE;
        }
      }

      &_checkboxes {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
      }

      &_label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        color: $SHADOW-RITE;
        font-weight: 500;
        padding: 0 8px;
        height: 32px;
        border-radius: 6px;
        border: 1px solid $color-1;
        line-height: 1;

        span {
          color: $URBAN-STEEL;
          font-weight: 400;
        }
      }

      &_actions {
        padding-left: 152px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include respond-to(xl) {
          padding-left: 0;
        }
      }

      &.show {
        padding-top: 24px;
        max-height: 2000px; /* Достаточно большое значение для вмещения контента */
        opacity: 1;
        visibility: visible;
      }
    }
    input[type='checkbox'] {
      position: absolute; /* Убираем из потока */
      opacity: 0; /* Делаем невидимым */
      z-index: -1; /* Уводим под другие элементы */
      width: 0; /* Для лучшей совместимости */
      height: 0;

      &:checked + label {
        #{$filters}_item {
          &_icon {
            color: $CULT-FLAME;
          }
        }
        &#{$filters}_content {
          &_label {
            background: rgba($CULT-FLAME, 0.08);
            border-color: rgba($CULT-FLAME, 0.12);
            color: $CULT-FLAME;
          }
        }
      }
    }
  }
}
