.header {
  width: 100%;
  padding: 3.5px 0;
  background: $IRON-FAITH;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  @include respond-to(lg) {
    padding: 20px 0;
  }

  &_container {
    display: grid;
    grid-template-columns: 308px minmax(0, 1fr) 308px;
    align-items: center;
    gap: 16px;

    @include respond-to(xl) {
      grid-template-columns: 268px minmax(0, 1fr) 268px;
    }

    @include respond-to(lg) {
      display: flex;
      justify-content: space-between;
      gap: 8px;
    }
  }

  &_actions {
    display: flex;
    align-items: center;
    gap: 12px;

    @include respond-to(lg) {
      display: none;
    }

    .btn {
      flex: auto;

      @include respond-to(xl) {
        font-size: 16px;
      }
    }
  }
}
