.page {
  // padding-top: 68px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &--banner {
    .modal[aria-hidden='false'] {
      position: fixed;
      inset: var(--ad-safe-top, 0px) 0 0 0; /* top right bottom left */
    }
  }
}
