.review {
  &-stat {
    display: flex;
    flex-direction: column;
    gap: 8px;
    $stat: &;

    &_text {
      line-height: 1;
      color: $SHADOW-RITE;
      font-size: 12px;
      font-weight: 500;
    }

    &_values {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      border-radius: 4px;
      overflow: hidden;
    }

    &_value {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 20px;
      font-size: 12px;
      color: $SHADOW-RITE;
      font-weight: 500;
      padding: 0 6px;

      &-positive {
        background: #cff0c9;
      }

      &-neutral {
        background: #f5f4f3;
      }

      &-negative {
        background: #ffcecc;
      }
    }

    &--new {
      #{$stat}_text {
        @include respond-to(xl) {
          display: none;
        }
      }
    }
  }
}
