.single {
  &_content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    a {
      color: $CULT-FLAME;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    ul,
    ol {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        font-size: 18px;
        color: $SHADOW-RITE;
        line-height: 1.4;
        position: relative;
        padding-left: 14px;

        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background: $CULT-FLAME;
          position: absolute;
          left: 0;
          top: 10px;
          border-radius: 50%;
        }
      }
    }

    &_preview {
      margin-top: 16px;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    &.hidden {
      display: none;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-alt {
      padding: 16px;
      border-radius: 6px;
      background: rgba($CULT-FLAME, 0.12);

      p {
        color: $CULT-FLAME;
        font-size: 16px;
        line-height: 1.5;
      }
    }

    &-alt2 {
      padding: 20px;
      border-radius: 6px;
      background: #f5f4f3;

      p {
        color: $SHADOW-RITE;
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
      }
    }
  }

  &_page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    $page: &;

    &_nav {
      border-bottom: 1px solid $color-1;
      padding-bottom: 20px;

      &_inside {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: 42px;
    }

    &_copy {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &_link {
        font-size: 16px;
        text-decoration: underline;
        color: rgba($CULT-FLAME, 1);
      }
    }

    &--word {
      #{$page}_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_inside {
          .btn {
            @include respond-to(xl) {
              padding-left: 8px;
              padding-right: 8px;
            }
            span {
              @include respond-to(xl) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &_intro {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_title {
      display: flex;
      flex-direction: column;
      gap: 16px;

      p {
        font-weight: 300;
        font-size: 14px;
      }
    }

    &_verify {
      display: flex;
      align-items: center;
      gap: 8px;

      &_text {
        span::after {
          content: '';
          display: inline-block; // ключевое — псевдоэлемент в потоке текста
          width: 20px;
          height: 20px;
          margin-left: 0.15em; // отступ от текста
          vertical-align: inherit; // подстройте при необходимости: middle / -0.15em и т.п.
          background: center / contain no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_288_32541)'%3E%3Cpath d='M15.2441 7.29303L13.6219 5.6708V3.37303C13.6219 2.82191 13.173 2.37303 12.6219 2.37303H10.3286L8.70636 0.750803C8.5108 0.559692 8.25747 0.461914 7.99969 0.461914C7.74191 0.461914 7.48858 0.559692 7.29303 0.750803L5.6708 2.37303H3.37747C2.82636 2.37303 2.37747 2.82191 2.37747 3.37303V5.6708L0.755247 7.29303C0.364136 7.67969 0.364136 8.31525 0.755247 8.70636L2.37747 10.3286V12.6219C2.37747 13.173 2.82636 13.6219 3.37747 13.6219H5.6708L7.29303 15.2441C7.48858 15.4397 7.74191 15.5375 7.99969 15.5375C8.25747 15.5375 8.5108 15.4397 8.70636 15.2441L10.3286 13.6219H12.6219C13.173 13.6219 13.6219 13.173 13.6219 12.6219V10.3286L15.2441 8.70636C15.6352 8.31525 15.6352 7.67969 15.2441 7.29303ZM10.4352 6.97303L7.60858 9.80414C7.49747 9.9108 7.35525 9.96414 7.21303 9.96414C7.0708 9.96414 6.92858 9.9108 6.82191 9.80414L5.56414 8.54636C5.34636 8.32858 5.34636 7.97747 5.56414 7.75969C5.78191 7.54191 6.13303 7.54191 6.3508 7.75969L7.21303 8.62636L9.64858 6.1908C9.70019 6.13907 9.76149 6.09802 9.82899 6.07001C9.89648 6.042 9.96884 6.02759 10.0419 6.02759C10.115 6.02759 10.1873 6.042 10.2548 6.07001C10.3223 6.09802 10.3836 6.13907 10.4352 6.1908C10.653 6.40414 10.653 6.75969 10.4352 6.97303Z' fill='%23FE6E00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4348 6.97278L7.60817 9.80389C7.49706 9.91056 7.35483 9.96389 7.21261 9.96389C7.07039 9.96389 6.92817 9.91056 6.8215 9.80389L5.56372 8.54611C5.34595 8.32834 5.34595 7.97723 5.56372 7.75945C5.7815 7.54167 6.13261 7.54167 6.35039 7.75945L7.21261 8.62611L9.64817 6.19056C9.69977 6.13882 9.76108 6.09777 9.82857 6.06977C9.89607 6.04176 9.96843 6.02734 10.0415 6.02734C10.1146 6.02734 10.1869 6.04176 10.2544 6.06977C10.3219 6.09777 10.3832 6.13882 10.4348 6.19056C10.6526 6.40389 10.6526 6.75945 10.4348 6.97278Z' fill='%23FDFDFD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_288_32541'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }

    &_type {
      line-height: 1;
      font-size: 32px;
      font-weight: 500;
      color: $SHADOW-RITE;
    }

    &_tags {
      display: flex;
      align-items: center;
      gap: 4px;
      flex-wrap: wrap;
    }

    &_tag {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1;
      padding: 0 10px;
      height: 24px;
      border-radius: 40px;
      font-size: 12px;
      color: $SHADOW-RITE;
      border: 1px solid $URBAN-STEEL;
    }

    &_info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 8px;
      margin-bottom: 8px;

      &_item {
        font-size: 18px;
        line-height: 1;
        font-weight: 500;

        span {
          font-weight: 400;
        }

        a {
          text-decoration: none;
          color: rgba($CULT-FLAME, 1);
        }
      }
    }

    &_preview {
      margin-top: 16px;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-vacancies {
      gap: 24px;
    }
  }

  &_parametres {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &_items {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &:not(:last-child) {
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: $color-1;
          position: absolute;
          left: 0;
          bottom: -12px;
        }
      }

      &_title {
        font-size: 16px;
        color: $SHADOW-RITE;
        font-weight: 400;
        line-height: 1;
        text-align: left;

        @include respond-to(sm) {
          font-size: 12px;
        }
      }

      &_value {
        font-size: 16px;
        color: $SHADOW-RITE;
        font-weight: 500;
        line-height: 1;
        text-align: right;

        @include respond-to(sm) {
          font-size: 14px;
        }
      }
    }

    &_footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
