.stars {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &_text {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      color: $SHADOW-RITE;
    }
  }

  &_items {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &_item {
    width: 12px;
    height: 12px;
    display: block;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 100%;
      height: 100%;
      background: center / auto no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_103_2952)'%3E%3Cpath d='M2.68589 11.5233C2.5544 11.5233 2.42385 11.4823 2.31243 11.4017C2.21108 11.3284 2.13354 11.2268 2.08945 11.1098C2.04535 10.9927 2.03664 10.8652 2.0644 10.7432L2.83641 7.34262L0.21828 5.04664C0.124118 4.96448 0.0561929 4.85645 0.0229542 4.73598C-0.0102845 4.61552 -0.00736918 4.48794 0.0313374 4.36912C0.0698065 4.25036 0.142285 4.14551 0.239786 4.06755C0.337287 3.9896 0.455524 3.94198 0.579836 3.93059L4.04392 3.61608L5.41352 0.410986C5.51447 0.175504 5.74444 0.0234375 5.99999 0.0234375C6.25553 0.0234375 6.48551 0.175504 6.5865 0.410447L7.95606 3.61608L11.4196 3.93054C11.6747 3.95351 11.8896 4.12611 11.9686 4.36909C12.0477 4.6121 11.9746 4.87862 11.7821 5.04662L9.16404 7.34217L9.93604 10.7427C9.99262 10.9927 9.89556 11.2513 9.68811 11.4013C9.48111 11.5512 9.20505 11.5628 8.98708 11.4317L5.99999 9.6467L3.01292 11.4328C2.91193 11.4927 2.7994 11.5233 2.68589 11.5233ZM5.99999 8.87774C6.11352 8.87774 6.22593 8.90821 6.32702 8.96819L9.14611 10.6543L8.41751 7.44462C8.392 7.33244 8.39731 7.21544 8.43288 7.10603C8.46845 6.99662 8.53295 6.89887 8.61955 6.82313L11.0916 4.65511L7.82101 4.35813C7.70592 4.34782 7.59579 4.3064 7.50243 4.23831C7.40906 4.17021 7.33598 4.07801 7.29101 3.97156L5.99999 0.946969L4.70742 3.97201C4.61641 4.18752 4.41389 4.33558 4.17897 4.35709L0.907875 4.6541L3.37989 6.82213C3.55694 6.97715 3.63438 7.21518 3.58193 7.44417L2.85389 10.6537L5.67296 8.96819C5.77395 8.90821 5.88648 8.87774 5.99999 8.87774ZM4.01745 3.67805C4.01745 3.67805 4.01745 3.67859 4.01692 3.67905L4.01745 3.67805ZM7.98154 3.67657L7.98208 3.67758C7.98208 3.67704 7.98208 3.67704 7.98152 3.67657H7.98154Z' fill='%23AEB2B7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_103_2952'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &-fill {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_223_18649)'%3E%3Cpath d='M2.31243 11.4017C2.42385 11.4823 2.5544 11.5233 2.68589 11.5233C2.7994 11.5233 2.91193 11.4928 3.01292 11.4328L5.99999 9.64672L8.98708 11.4318C9.20505 11.5628 9.48111 11.5513 9.68811 11.4013C9.89556 11.2513 9.99262 10.9928 9.93604 10.7427L9.16404 7.34219L11.7821 5.04663C11.9746 4.87863 12.0477 4.61211 11.9686 4.3691C11.8896 4.12612 11.6747 3.95352 11.4196 3.93055L7.95606 3.61608L6.5865 0.410448C6.48551 0.175504 6.25553 0.0234375 5.99999 0.0234375C5.74444 0.0234375 5.51447 0.175504 5.41352 0.410987L4.04392 3.61608L0.579836 3.9306C0.455524 3.94199 0.337287 3.98961 0.239786 4.06756C0.142285 4.14551 0.0698065 4.25037 0.0313374 4.36913C-0.00736918 4.48795 -0.0102845 4.61553 0.0229542 4.73599C0.0561929 4.85646 0.124118 4.96449 0.21828 5.04665L2.83641 7.34263L2.0644 10.7433C2.03664 10.8653 2.04535 10.9927 2.08945 11.1098C2.13354 11.2269 2.21108 11.3284 2.31243 11.4017Z' fill='%23FF8F33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_223_18649'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }

    &-active {
      &::after {
        /* Стиль для активной (выбранной) звезды */
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_223_18649)'%3E%3Cpath d='M2.31243 11.4017C2.42385 11.4823 2.5544 11.5233 2.68589 11.5233C2.7994 11.5233 2.91193 11.4928 3.01292 11.4328L5.99999 9.64672L8.98708 11.4318C9.20505 11.5628 9.48111 11.5513 9.68811 11.4013C9.89556 11.2513 9.99262 10.9928 9.93604 10.7427L9.16404 7.34219L11.7821 5.04663C11.9746 4.87863 12.0477 4.61211 11.9686 4.3691C11.8896 4.12612 11.6747 3.95352 11.4196 3.93055L7.95606 3.61608L6.5865 0.410448C6.48551 0.175504 6.25553 0.0234375 5.99999 0.0234375C5.74444 0.0234375 5.51447 0.175504 5.41352 0.410987L4.04392 3.61608L0.579836 3.9306C0.455524 3.94199 0.337287 3.98961 0.239786 4.06756C0.142285 4.14551 0.0698065 4.25037 0.0313374 4.36913C-0.00736918 4.48795 -0.0102845 4.61553 0.0229542 4.73599C0.0561929 4.85646 0.124118 4.96449 0.21828 5.04665L2.83641 7.34263L2.0644 10.7433C2.03664 10.8653 2.04535 10.9927 2.08945 11.1098C2.13354 11.2269 2.21108 11.3284 2.31243 11.4017Z' fill='%23FF8F33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_223_18649'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }

    &-hover {
      &::after {
        /* Стиль для активной (выбранной) звезды */
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_223_18649)'%3E%3Cpath d='M2.31243 11.4017C2.42385 11.4823 2.5544 11.5233 2.68589 11.5233C2.7994 11.5233 2.91193 11.4928 3.01292 11.4328L5.99999 9.64672L8.98708 11.4318C9.20505 11.5628 9.48111 11.5513 9.68811 11.4013C9.89556 11.2513 9.99262 10.9928 9.93604 10.7427L9.16404 7.34219L11.7821 5.04663C11.9746 4.87863 12.0477 4.61211 11.9686 4.3691C11.8896 4.12612 11.6747 3.95352 11.4196 3.93055L7.95606 3.61608L6.5865 0.410448C6.48551 0.175504 6.25553 0.0234375 5.99999 0.0234375C5.74444 0.0234375 5.51447 0.175504 5.41352 0.410987L4.04392 3.61608L0.579836 3.9306C0.455524 3.94199 0.337287 3.98961 0.239786 4.06756C0.142285 4.14551 0.0698065 4.25037 0.0313374 4.36913C-0.00736918 4.48795 -0.0102845 4.61553 0.0229542 4.73599C0.0561929 4.85646 0.124118 4.96449 0.21828 5.04665L2.83641 7.34263L2.0644 10.7433C2.03664 10.8653 2.04535 10.9927 2.08945 11.1098C2.13354 11.2269 2.21108 11.3284 2.31243 11.4017Z' fill='%23FF8F33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_223_18649'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }
}
