.sWiper {
  width: 100%;
  $swpr: &;

  &_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;

    &-conferencies {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &_main {
      #{$swpr} {
        @include respond-to(sm) {
          width: calc(100% + 12px);
        }
      }
    }
  }
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &_nav {
    display: flex;
    align-items: center;
    gap: 8px;
    $nav: &;

    &_item {
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 6px;
      background: $color-1;
      border: none;
      outline: none;
      cursor: pointer;
      background-position: center;
      // background-size: contain;
      background-repeat: no-repeat;
    }

    &-prev {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15.8329C12.3903 15.8335 12.2816 15.8125 12.1801 15.771C12.0786 15.7295 11.9862 15.6684 11.9083 15.5912L6.90834 10.5912C6.75313 10.4351 6.66602 10.2239 6.66602 10.0037C6.66602 9.78355 6.75313 9.57234 6.90834 9.4162L11.9083 4.4162C12.0678 4.27968 12.2728 4.20834 12.4826 4.21644C12.6923 4.22454 12.8912 4.31149 13.0396 4.4599C13.1881 4.60831 13.275 4.80726 13.2831 5.01699C13.2912 5.22672 13.2199 5.43178 13.0833 5.5912L8.67501 9.99953L13.0833 14.4079C13.2004 14.5239 13.2803 14.6721 13.3132 14.8336C13.346 14.9951 13.3302 15.1627 13.2677 15.3152C13.2053 15.4678 13.099 15.5984 12.9624 15.6905C12.8257 15.7826 12.6648 15.8322 12.5 15.8329Z' fill='%23322733'/%3E%3C/svg%3E");
    }

    &-next {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49998 15.8332C7.33446 15.8341 7.17241 15.7858 7.03447 15.6943C6.89654 15.6028 6.78898 15.4723 6.72551 15.3194C6.66204 15.1665 6.64553 14.9982 6.67808 14.8359C6.71064 14.6736 6.79079 14.5247 6.90832 14.4082L11.325 9.99983L6.90832 5.5915C6.7514 5.43458 6.66324 5.22175 6.66324 4.99983C6.66324 4.88995 6.68488 4.78114 6.72693 4.67962C6.76898 4.5781 6.83062 4.48586 6.90832 4.40816C6.98602 4.33046 7.07826 4.26883 7.17978 4.22678C7.28129 4.18473 7.3901 4.16309 7.49998 4.16309C7.7219 4.16309 7.93473 4.25124 8.09165 4.40816L13.0917 9.40816C13.2469 9.5643 13.334 9.77551 13.334 9.99566C13.334 10.2158 13.2469 10.427 13.0917 10.5832L8.09165 15.5832C8.01447 15.6619 7.92243 15.7245 7.82087 15.7675C7.71931 15.8104 7.61024 15.8327 7.49998 15.8332Z' fill='%23322733'/%3E%3C/svg%3E");
    }

    &-alt {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      padding: 0 20px;
      justify-content: space-between;

      #{$nav}_item {
        width: 32px;
        height: 32px;
        background: rgba(#000, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      #{$nav}-prev {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9998 18.9991C14.8682 18.9998 14.7377 18.9746 14.6159 18.9248C14.4941 18.8751 14.3833 18.8017 14.2898 18.7091L8.28982 12.7091C8.10356 12.5217 7.99902 12.2682 7.99902 12.0041C7.99902 11.7399 8.10356 11.4864 8.28982 11.2991L14.2898 5.29905C14.4811 5.13522 14.7272 5.04962 14.9789 5.05934C15.2305 5.06906 15.4693 5.17339 15.6474 5.35149C15.8255 5.52958 15.9298 5.76832 15.9395 6.02C15.9492 6.27167 15.8636 6.51775 15.6998 6.70905L10.4098 11.9991L15.6998 17.2891C15.8402 17.4283 15.9362 17.6061 15.9756 17.7999C16.015 17.9937 15.996 18.1949 15.9211 18.3779C15.8462 18.5609 15.7186 18.7176 15.5547 18.8282C15.3907 18.9388 15.1976 18.9982 14.9998 18.9991Z' fill='%23FE6E00'/%3E%3C/svg%3E");
        }
      }

      #{$nav}-next {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99996 19.0002C8.80133 19.0013 8.60686 18.9433 8.44134 18.8335C8.27582 18.7237 8.14675 18.5671 8.07059 18.3837C7.99442 18.2002 7.97461 17.9983 8.01368 17.8035C8.05275 17.6088 8.14893 17.4301 8.28996 17.2902L13.59 12.0002L8.28996 6.71019C8.10165 6.52188 7.99586 6.26649 7.99586 6.00019C7.99586 5.86833 8.02184 5.73776 8.0723 5.61594C8.12276 5.49411 8.19672 5.38342 8.28996 5.29019C8.38319 5.19695 8.49388 5.12299 8.61571 5.07253C8.73753 5.02207 8.8681 4.99609 8.99996 4.99609C9.26626 4.99609 9.52165 5.10188 9.70996 5.29019L15.71 11.2902C15.8962 11.4775 16.0007 11.731 16.0007 11.9952C16.0007 12.2594 15.8962 12.5128 15.71 12.7002L9.70996 18.7002C9.61734 18.7947 9.5069 18.8698 9.38502 18.9213C9.26315 18.9728 9.13226 18.9996 8.99996 19.0002Z' fill='%23FE6E00'/%3E%3C/svg%3E");
        }
      }
    }

    &-conferencies {
      display: flex;
      align-items: center;
      gap: 8px;

      #{$nav}_item {
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    &-commercial {
      #{$nav}_item {
        background: $SACRED-LIGHT;
      }

      #{$nav}-prev {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9998 18.9991C14.8682 18.9998 14.7377 18.9746 14.6159 18.9248C14.4941 18.8751 14.3833 18.8017 14.2898 18.7091L8.28982 12.7091C8.10356 12.5217 7.99902 12.2682 7.99902 12.0041C7.99902 11.7399 8.10356 11.4864 8.28982 11.2991L14.2898 5.29905C14.4811 5.13522 14.7272 5.04962 14.9789 5.05934C15.2305 5.06906 15.4693 5.17339 15.6474 5.35149C15.8255 5.52958 15.9298 5.76832 15.9395 6.02C15.9492 6.27167 15.8636 6.51775 15.6998 6.70905L10.4098 11.9991L15.6998 17.2891C15.8402 17.4283 15.9362 17.6061 15.9756 17.7999C16.015 17.9937 15.996 18.1949 15.9211 18.3779C15.8462 18.5609 15.7186 18.7176 15.5547 18.8282C15.3907 18.9388 15.1976 18.9982 14.9998 18.9991Z' fill='%23fe6e00'/%3E%3C/svg%3E");
        }
      }

      #{$nav}-next {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99996 19.0002C8.80133 19.0013 8.60686 18.9433 8.44134 18.8335C8.27582 18.7237 8.14675 18.5671 8.07059 18.3837C7.99442 18.2002 7.97461 17.9983 8.01368 17.8035C8.05275 17.6088 8.14893 17.4301 8.28996 17.2902L13.59 12.0002L8.28996 6.71019C8.10165 6.52188 7.99586 6.26649 7.99586 6.00019C7.99586 5.86833 8.02184 5.73776 8.0723 5.61594C8.12276 5.49411 8.19672 5.38342 8.28996 5.29019C8.38319 5.19695 8.49388 5.12299 8.61571 5.07253C8.73753 5.02207 8.8681 4.99609 8.99996 4.99609C9.26626 4.99609 9.52165 5.10188 9.70996 5.29019L15.71 11.2902C15.8962 11.4775 16.0007 11.731 16.0007 11.9952C16.0007 12.2594 15.8962 12.5128 15.71 12.7002L9.70996 18.7002C9.61734 18.7947 9.5069 18.8698 9.38502 18.9213C9.26315 18.9728 9.13226 18.9996 8.99996 19.0002Z' fill='%23fe6e00'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &_item {
    width: 100%;

    &-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
