.table {
  width: 100%;
  overflow-x: auto; /* Горизонтальный скролл */
  -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
  $table: &;

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_head {
    width: 100%;
    display: grid;
    align-items: center;
    background: #f5f4f3;
    padding: 10px 12px;
    border-radius: 8px 8px 0 0;

    &-services {
      grid-template-columns: 90px 148px 52px 50px 1fr;
      gap: 8px;
      min-width: 592px;
    }

    &-partners {
      grid-template-columns: 20px 88px 124px 140px auto;
      gap: 16px;
      min-width: 592px;
    }

    &-tg {
      grid-template-columns: 200px 82px 44px 68px 82px;
      gap: 16px;
      min-width: 592px;
    }

    &-influencers,
    &-commands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &_item {
      line-height: 1;
      font-size: 14px;
      color: $SHADOW-RITE;
      font-weight: 300;
    }

    &-vacancies {
      grid-template-columns: 272px 100px 68px 72px;
      gap: 16px;
      min-width: 592px;

      #{$table}_head {
        &_item {
          font-size: 12px;

          &:not(:first-child) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  &-services {
    #{$table}_items {
      min-width: 592px;
    }
  }

  &-partners {
    #{$table}_items {
      min-width: 592px;
    }
  }

  &-tg {
    #{$table}_items {
      min-width: 592px;
    }
  }

  &-vacancies {
    #{$table}_items {
      min-width: 592px;
    }
  }

  &_item {
    display: grid;
    align-items: center;
    border: 1px solid $color-1;
    padding: 10px 12px;
    $item: &;

    &:last-child {
      border-radius: 0 0 8px 8px;
    }

    &_col {
      display: flex;
    }

    &-services {
      grid-template-columns: 90px 148px 52px auto auto auto;
      gap: 8px;

      #{$item}_name {
        flex-direction: column;
        gap: 4px;

        a {
          font-size: 16px;
          line-height: 1;
          color: $SHADOW-RITE;
          font-weight: 700;
          text-decoration: none;
        }

        p {
          font-size: 12px;
          line-height: 1.1;
          color: $URBAN-STEEL;
          font-weight: 400;
        }
      }

      #{$item}_price {
        font-size: 14px;
        color: $SHADOW-RITE;
        font-weight: 500;
      }
    }

    &-partners {
      grid-template-columns: 20px 88px 124px 140px 38px auto;
      gap: 16px;

      #{$item}_num {
        justify-content: center;
        text-align: center;
        font-size: 14px;
        color: $SHADOW-RITE;
        font-weight: 500;
      }

      #{$item}_name {
        a {
          font-size: 16px;
          line-height: 1;
          color: $SHADOW-RITE;
          font-weight: 700;
          text-decoration: none;
        }
      }

      #{$item}_price {
        font-size: 14px;
        color: $SHADOW-RITE;
        font-weight: 500;
      }
    }

    &-tg,
    &-vacancies {
      border: 1px solid $color-1;
      padding: 0;
    }

    &-vacancies {
      border: none;
    }

    &-influencers,
    &-commands {
      padding: 0;
    }

    &-commercial {
      background: $color-12;
      border-color: rgba($CULT-FLAME, 0.22);
    }
  }

  &_more {
    font-size: 18px;
    text-decoration: none;
    color: $SHADOW-RITE;
    line-height: 1;
    font-weight: 500;
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &-commercial {
    #{$table}_head {
      background: #fce1cc;
    }
    #{$table}_item {
      background: $color-12;
      border-color: rgba($CULT-FLAME, 0.22);
    }
  }

  &-interactive {
    .sort-arrow {
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      transition: transform 0.2s ease;

      &-asc {
        transform: translateY(-50%) rotate(0deg);
      }

      &-desc {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    #{$table}_head {
      &_item {
        &-interactive {
          font-weight: 500;
          cursor: pointer;
          position: relative;
          user-select: none;
          transition: color 0.2s ease;

          &.sorted-asc,
          &.sorted-desc {
            color: rgba($CULT-FLAME, 1);
          }
        }
      }
    }
  }
}
