.vacancies {
  &_card {
    display: grid;
    grid-template-columns: 272px 100px 68px 72px;
    padding: 10px 12px;
    align-items: center;
    gap: 16px;
    background: $SACRED-LIGHT;
    border: 1px solid $color-1;
    $card: &;

    @include respond-to(xl) {
      // grid-template-columns: 90px 1fr 82px;
      // gap: 12px;
    }

    @include respond-to(sm) {
      // grid-template-columns: 1fr 82px;
      // align-items: flex-start;
    }

    &_info {
      display: grid;
      grid-template-columns: 56px 1fr;
      grid-template-rows: auto auto;
      gap: 8px;

      @include respond-to(sm) {
        // grid-column: 1/3;
        // grid-row: 2/3;
      }
    }

    &_img {
      width: 100%;
      height: 56px;
      border-radius: 4px;
      overflow: hidden;
      grid-row: 1/3;

      @include respond-to(xl) {
        // aspect-ratio: 2/1.3;
        // height: unset;
      }

      @include respond-to(sm) {
        // width: 200px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-verify {
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          border-radius: 4px;
          background: rgba($CULT-FLAME, 1);
        }

        &::after {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          background: center / auto no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4343 5.47001L10.2177 4.25335V2.53001C10.2177 2.11668 9.88099 1.78001 9.46766 1.78001H7.74766L6.53099 0.563346C6.38432 0.420013 6.19432 0.34668 6.00099 0.34668C5.80766 0.34668 5.61766 0.420013 5.47099 0.563346L4.25432 1.78001H2.53432C2.12099 1.78001 1.78432 2.11668 1.78432 2.53001V4.25335L0.567656 5.47001C0.274323 5.76001 0.274323 6.23668 0.567656 6.53001L1.78432 7.74668V9.46668C1.78432 9.88001 2.12099 10.2167 2.53432 10.2167H4.25432L5.47099 11.4333C5.61766 11.58 5.80766 11.6533 6.00099 11.6533C6.19432 11.6533 6.38432 11.58 6.53099 11.4333L7.74766 10.2167H9.46766C9.88099 10.2167 10.2177 9.88001 10.2177 9.46668V7.74668L11.4343 6.53001C11.7277 6.23668 11.7277 5.76001 11.4343 5.47001Z' fill='%23FDFDFD'/%3E%3Cpath d='M10.5 6.00013L6.89181 6.67497L6.72284 6.72186L6.68253 6.84923L6.00811 10.5L5.99039 10.4773C5.76625 9.34262 5.5964 8.19553 5.36627 7.0621C5.35541 7.00819 5.30687 6.74919 5.27904 6.72436C5.25021 6.69866 5.00173 6.65203 4.94682 6.64074L1.5 6.00414L5.09858 5.33168L5.28553 5.27814L5.33233 5.10827L6.00012 1.5C6.00774 1.5 6.03107 1.62173 6.03419 1.63765C6.25284 2.74225 6.41683 3.85938 6.64197 4.96247C6.65245 5.01337 6.698 5.25746 6.72446 5.28053C6.74393 5.29733 6.79809 5.29933 6.8233 5.31212L10.5 6.00013Z' fill='%23FE6E00'/%3E%3C/svg%3E");
        }
      }
    }

    &_name {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      line-height: 1;

      @include respond-to(xl) {
        font-size: 20px;
      }

      span {
        font-size: 14px;
        font-weight: 700;
        color: $SHADOW-RITE;
        line-height: 1;
      }
    }

    &_pay,
    &_exp,
    &_date {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
      }
    }

    &_pay {
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }

    &_actions {
      display: flex;
      align-items: center;
    }

    &-commercial {
      background: $color-12;
      border: 1px solid #fce1cc;

      #{$card}_tag {
        background: rgba($CULT-FLAME, 0.12);
        border-color: rgba($CULT-FLAME, 0.12);
      }
    }
  }
}

.vacancy {
  &_company {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_img {
      width: 100%;
      border-radius: 6px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 12px;

      span {
        line-height: 1;
        font-size: 14px;
        font-weight: 500;
      }

      p {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
