.wiki {
  &_letters {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 8px;

    @include respond-to(sm) {
      grid-template-columns: repeat(7, 1fr);
    }

    &_item {
      border-radius: 4px;
      border: 1px solid $color-1;
      font-size: 16px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      color: $URBAN-STEEL;
      text-decoration: none;

      @include respond-to(sm) {
        font-size: 14px;
        height: 32px;
      }
    }
  }

  &_block {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_title {
      color: $CULT-FLAME;
    }

    &_items {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &_item {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 4px;
      background: #f5f4f3;
      font-size: 16px;
      font-weight: 500;
      color: $SHADOW-RITE;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background: rgba($CULT-FLAME, 0.08);
        color: rgba($CULT-FLAME, 1);
      }

      &--sm {
        padding: 10px;
        font-size: 14px;
      }
    }
  }

  &_switcher {
    display: flex;
    align-items: center;
    gap: 4px;

    &_item {
      font-size: 16px;
      font-weight: 500;
      color: rgba($CULT-FLAME, 1);
      cursor: pointer;
      text-decoration: none;

      &-current {
        color: $URBAN-STEEL;
        cursor: default;
      }
    }

    &_sep {
      color: $URBAN-STEEL;
    }
  }
}
[data-lang][hidden] {
  display: none !important;
}
