:root {
  --ad-safe-top: 0px;
}
// Базовые стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  color: $SHADOW-RITE;
  line-height: 1.6;
  background-color: $color-1;

  &.noscroll {
    overflow-y: hidden;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  color: $SHADOW-RITE;
  line-height: 1.5;

  @include respond-to(md) {
    font-size: 16px;
  }
}

img {
  display: block;
}

.show_all {
  font-size: 18px;
  text-decoration: none;
  color: $SHADOW-RITE !important;
  line-height: 1;
  font-weight: 500;
  text-decoration: none !important;
  cursor: pointer;
}

.hashtags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hashtag {
  color: $CULT-FLAME !important;
  font-size: 16px;
  text-decoration: none !important;
}

textarea {
  font-family: $font-main;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .link {
    a {
      @include respond-to(sm) {
        font-size: 14px;
      }
    }
  }
}

@import '@/styles/components/btn';
@import '@/styles/components/header';
@import '@/styles/components/container';
@import '@/styles/components/logo';
@import '@/styles/components/search';
@import '@/styles/components/burger';
@import '@/styles/components/topic';
@import '@/styles/components/content';
@import '@/styles/components/page';
@import '@/styles/components/ad';
@import '@/styles/components/footer';
@import '@/styles/components/box';
@import '@/styles/components/filters';
@import '@/styles/components/main';
@import '@/styles/components/menu';
@import '@/styles/components/post';
@import '@/styles/components/author';
@import '@/styles/components/sidebar';
@import '@/styles/components/reacts';
@import '@/styles/components/conferences';
@import '@/styles/components/swiper';
@import '@/styles/components/title';
@import '@/styles/components/shorts';
@import '@/styles/components/table';
@import '@/styles/components/copy';
@import '@/styles/components/review';
@import '@/styles/components/blogers';
@import '@/styles/components/comments';
@import '@/styles/components/influencer';
@import '@/styles/components/socials';
@import '@/styles/components/services';
@import '@/styles/components/single';
@import '@/styles/components/calendar';
@import '@/styles/components/wiki';
@import '@/styles/components/modal';
@import '@/styles/components/speakers';
@import '@/styles/components/stars';
@import '@/styles/components/media';
@import '@/styles/components/reviews';
@import '@/styles/components/popular';
@import '@/styles/components/error';
@import '@/styles/components/command';
@import '@/styles/components/tag';
@import '@/styles/components/tg';
@import '@/styles/components/echarts';
@import '@/styles/components/vacancies';
@import '@/styles/components/pagination';
