//- @title: Главная
//- @description: Описание главной страницы
extends ../layouts/default.pug

block content
  // Filters
  +Box({type: 'shadow'})
    +Filters(['Популярное', 'Обсуждаемое', 'Свежее'], 'Избранное')
  
  // Post 1
  +Box({})
    +Post({
      title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
      text: ['Представьте: вы нашли рабочую связку для Google Ads, настроили кампании и готовы запускать — но аккаунт блокируют уже после первых $50 трат, сливая весь бюджет впустую.', 'Или вы покупаете пачку дешёвых аккаунтов, но они один за другим требуют сложную и иногда невозможную верификацию. Кампании встают, время уходит, а вы остаетесь с нулём на балансе и разбитыми надеждами.'],
      preview: 'assets/images/public/post-preview.jpg',
    })
  // Conferences
  +Box({})
    +Conferences([
      {
        dates: '11-12',
        mounth: 'сентября',
        title: 'Affiliate Moscow 2025',
        country: 'Россия',
        city: 'Москва',
        tags: ['Affiliate', 'Marketing'],
        url: '#',
        promocode: 'XpDrTx',
        preview: 'assets/images/public/conf/1.jpg',
        commercial: true
      },
      {
        dates: '25-31',
        mounth: 'Мая',
        title: 'Affiliate Moscow 2026',
        country: 'Россия',
        city: 'Краснодар',
        tags: ['Affiliate'],
        url: '#',
        promocode: 'MpIRTs',
        preview: 'assets/images/public/conf/2.jpg'
      },
      {
        dates: '01-10',
        mounth: 'Декабрь',
        title: 'Affiliate Moscow 2026',
        country: 'Россия',
        city: 'Тверь',
        tags: ['Affiliate', 'Marketing', 'Google'],
        url: '#',
        promocode: '123pFd',
        preview: 'assets/images/public/conf/3.jpg'
      },
    ])
  // Popular Swiper
  +Box({})
    +SwiperMain(4, 'Популярное:')
  // Post 2
  +Box({})
    +Post({
      title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
      text: ['Представьте: вы нашли рабочую связку для Google Ads, настроили кампании и готовы запускать — но аккаунт блокируют уже после первых $50 трат, сливая весь бюджет впустую. Или вы покупаете пачку дешёвых аккаунтов, но они один за другим требуют сложную и иногда невозможную верификацию. Кампании встают, время уходит, а вы остаетесь с нулём на балансе и разбитыми надеждами.'],
      preview: 'assets/images/public/post-preview-2.jpg',
    })
  // Services Table
  +Box({})
    +TableMain(5, 'Проверенные сервисы для вебмастера')
  // Partners Table
  +Box({})
    +TableMain(4, 'Партнерки:', 'partners')
  // Shorts Swiper
  +Box({})
    +SwiperMain(4, 'Шортсы', 'shorts')
  // Ad Banner
  +AdBanner({href: 'https://google.com', banner: 'assets/images/public/banner-content.jpg', title: 'Рекламный баннер', type: 'content'})
  // Post 3
  +Box({})
    +Post({
      title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
      text: ['Представьте: вы нашли рабочую связку для Google Ads, настроили кампании и готовы запускать — но аккаунт блокируют уже после первых $50 трат, сливая весь бюджет впустую. Или вы покупаете пачку дешёвых аккаунтов, но они один за другим требуют сложную и иногда невозможную верификацию. Кампании встают, время уходит, а вы остаетесь с нулём на балансе и разбитыми надеждами.'],
      preview: 'assets/images/public/post-preview-3.jpg',
    })
  // Post 4
  +Box({})
    +Post({
      title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
      text: ['Представьте: вы нашли рабочую связку для Google Ads, настроили кампании и готовы запускать — но аккаунт блокируют уже после первых $50 трат, сливая весь бюджет впустую. Или вы покупаете пачку дешёвых аккаунтов, но они один за другим требуют сложную и иногда невозможную верификацию. Кампании встают, время уходит, а вы остаетесь с нулём на балансе и разбитыми надеждами.'],
      preview: 'assets/images/public/post-preview-4.jpg',
    })
  // Ad Banner
  +AdBanner({href: 'https://google.com', banner: 'assets/images/public/banner-content-alt.jpg', title: 'Рекламный баннер', type: 'content'})
  // Post 5
  +Box({})
    +Post({
      title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
      text: ['Представьте: вы нашли рабочую связку для Google Ads, настроили кампании и готовы запускать — но аккаунт блокируют уже после первых $50 трат, сливая весь бюджет впустую. Или вы покупаете пачку дешёвых аккаунтов, но они один за другим требуют сложную и иногда невозможную верификацию. Кампании встают, время уходит, а вы остаетесь с нулём на балансе и разбитыми надеждами.'],
      preview: 'assets/images/public/post-preview-5.jpg',
    })
  // Post 6
  +Box({})
    +Post({
      title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
      text: ['Представьте: вы нашли рабочую связку для Google Ads, настроили кампании и готовы запускать — но аккаунт блокируют уже после первых $50 трат, сливая весь бюджет впустую. Или вы покупаете пачку дешёвых аккаунтов, но они один за другим требуют сложную и иногда невозможную верификацию. Кампании встают, время уходит, а вы остаетесь с нулём на балансе и разбитыми надеждами.'],
      preview: 'assets/images/public/post-preview-6.jpg',
    })
  // LOAD MORE
  +Box({})
    +BtnPrime({text: 'Загрузить еще', mode: 'flame', size: 'lg'}, 'fw')

block sidebar-r
  +Sidebar({pos: 'right'})
    +Box({type: 'sidebar'})
      span.sidebar_title Темы
      +Topic([
          { title: 'Google Ads', color: "#06B0FF", href: 'posts-topic.html' },
          { title: 'Блоги', color: "#06FF82", href: '' },
          { title: 'Досье', color: "#FFB406", href: '' },
          { title: 'Кейсы', color: "#FF5506", href: '' },
          { title: 'Обзор', color: "#FF0606", href: '' },
          { title: 'Обучение', color: "#4D06FF", href: '' },
          { title: 'Полезное', color: "#8BFF06", href: '' },
          { title: 'Правила', color: "#FF0606", href: '' },
          { title: 'Спор', color: "#FF9B06", href: '' },
          { title: 'Журнал', color: "#06B0FF", href: '' },
        ], 5)
      span.sidebar_more Показать все
    // Mini Posts
    +Box({type: 'sidebar'})
      span.sidebar_title Свежее:
      .post_items.post_items-mini
        +PostMini({
          title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
        })
        +PostMini({
          title: 'Почему 80% арбитражников теряют свои деньги', 
        })
        +PostMini({
          title: 'Почему 80% арбитражников', 
        })
      a.sidebar_more(href='#') Перейти в свежее
    // Conferences Mini
    +Box({})
      +Conferences([
        {
          dates: '11-12',
          mounth: 'сентября',
          title: 'Affiliate Moscow 2025',
          country: 'Россия',
          city: 'Москва',
          tags: ['Affiliate', 'Marketing'],
          url: '#',
          promocode: 'XpDrTx',
          preview: 'assets/images/public/conf/1.jpg',
          commercial: true
        },
        {
          dates: '25-31',
          mounth: 'Мая',
          title: 'Affiliate Moscow 2026',
          country: 'Россия',
          city: 'Краснодар',
          tags: ['Affiliate'],
          url: '#',
          promocode: 'MpIRTs',
          preview: 'assets/images/public/conf/2.jpg'
        },
        {
          dates: '01-10',
          mounth: 'Декабрь',
          title: 'Affiliate Moscow 2026',
          country: 'Россия',
          city: 'Тверь',
          tags: ['Affiliate', 'Marketing', 'Google'],
          url: '#',
          promocode: '123pFd',
          preview: 'assets/images/public/conf/3.jpg'
        },
      ], 'mini')
    // Ad Banner
    +AdBanner({href: 'https://google.com', banner: 'assets/images/public/banner-right.jpg', title: 'Рекламный баннер', type: 'sidebar'})
    // Top Blogers
    +Box({type: 'sidebar'})
      span.sidebar_title Топ блогов:
      .blogers-top.blogers-top-mini
        +Author({avatar: 'assets/images/svg/avatar.svg', author: 'AFF CULT', size: 'sm', tag: '12К Подписчиков'})
        +Author({avatar: 'assets/images/svg/avatar.svg', author: 'AFF CULT', size: 'sm', tag: '12К Подписчиков'})
        +Author({avatar: 'assets/images/svg/avatar.svg', author: 'AFF CULT', size: 'sm', tag: '12К Подписчиков'})
      a.sidebar_more(href='#') Посмотреть весь топ
    // Popular Comments
    +Box({type: 'sidebar'})
      span.sidebar_title Популярные комментарии:
      .comments-popular.comments-popular-mini
        +CommentItem({})
        +CommentItem({})
        +CommentItem({})