//- @title: Ссылки
//- @description: Описание главной страницы
extends ../layouts/default-links.pug

block content

  +Box({}, 'Ссылки (актуальные)')
    .links
      +Link({num: 1, link: 'http://affcult.seo-gravity.ru/', ver: ''})
      +Link({num: 2, link: 'http://affcult.seo-gravity.ru/ad.html', ver: ''})
      +Link({num: 3, link: 'http://affcult.seo-gravity.ru/command-full.html', ver: ''})
      +Link({num: 4, link: 'http://affcult.seo-gravity.ru/commands.html', ver: ''})
      +Link({num: 5, link: 'http://affcult.seo-gravity.ru/commands-topic.html', ver: ''})
      +Link({num: 6, link: 'http://affcult.seo-gravity.ru/conference-full.html', ver: ''})
      +Link({num: 7, link: 'http://affcult.seo-gravity.ru/conferences.html', ver: ''})
      +Link({num: 8, link: 'http://affcult.seo-gravity.ru/conferences-topic.html', ver: ''})
      +Link({num: 9, link: 'http://affcult.seo-gravity.ru/influencer-full.html', ver: ''})
      +Link({num: 10, link: 'http://affcult.seo-gravity.ru/influencers.html', ver: ''})
      +Link({num: 11, link: 'http://affcult.seo-gravity.ru/magazine.html', ver: ''})
      +Link({num: 12, link: 'http://affcult.seo-gravity.ru/media.html', ver: ''})
      +Link({num: 13, link: 'http://affcult.seo-gravity.ru/partner-full.html', ver: ''})
      +Link({num: 14, link: 'http://affcult.seo-gravity.ru/partners.html', ver: ''})
      +Link({num: 15, link: 'http://affcult.seo-gravity.ru/partners-topic.html', ver: ''})
      +Link({num: 16, link: 'http://affcult.seo-gravity.ru/post-full.html', ver: ''})
      +Link({num: 17, link: 'http://affcult.seo-gravity.ru/posts.html', ver: ''})
      +Link({num: 18, link: 'http://affcult.seo-gravity.ru/posts-topic.html', ver: ''})
      +Link({num: 19, link: 'http://affcult.seo-gravity.ru/service-full.html', ver: ''})
      +Link({num: 20, link: 'http://affcult.seo-gravity.ru/services.html', ver: ''})
      +Link({num: 21, link: 'http://affcult.seo-gravity.ru/services-topic.html', ver: ''})
      +Link({num: 22, link: 'http://affcult.seo-gravity.ru/tg-channel-full.html', ver: ''})
      +Link({num: 23, link: 'http://affcult.seo-gravity.ru/tg-channels.html', ver: ''})
      +Link({num: 24, link: 'http://affcult.seo-gravity.ru/tg-channels-topic.html', ver: ''})
      +Link({num: 25, link: 'http://affcult.seo-gravity.ru/vacancies.html', ver: ''})
      +Link({num: 26, link: 'http://affcult.seo-gravity.ru/vacancy-full.html', ver: ''})
      +Link({num: 27, link: 'http://affcult.seo-gravity.ru/wiki.html', ver: ''})
      +Link({num: 28, link: 'http://affcult.seo-gravity.ru/word.html', ver: ''})
      +Link({num: 29, link: 'http://affcult.seo-gravity.ru/404.html', ver: ''})

  +Box({}, 'Ссылки (old)')
    .links
      +Link({num: 1, link: 'http://affcult.seo-gravity.ru/index-2.html', ver: 'OLD'})
      +Link({num: 1, link: 'http://affcult.seo-gravity.ru/banners.html', ver: 'BANNERS'})
      +Link({num: 4, link: 'http://affcult.seo-gravity.ru/commands-2.html', ver: 'OLD'})
      +Link({num: 7, link: 'http://affcult.seo-gravity.ru/conferences-2.html', ver: 'OLD'})
      +Link({num: 9, link: 'http://affcult.seo-gravity.ru/influencer-full-2.html', ver: 'OLD'})
      +Link({num: 10, link: 'http://affcult.seo-gravity.ru/influencers-2.html', ver: 'OLD'})
      +Link({num: 23, link: 'http://affcult.seo-gravity.ru/tg-channels-2.html', ver: 'OLD'})
      +Link({num: 25, link: 'http://affcult.seo-gravity.ru/vacancies-2.html', ver: 'OLD'})
      +Link({num: '➡️', link: 'http://affcult.seo-gravity.ru/table-variants.html', ver: 'OLD/NEW Tables'})
    