//- @title: парнерка
//- @description: Описание партнерки
extends ../layouts/default.pug

block content
  +Box({})
    +SinglePage({backBtn: 'Все партнерки'})
      .single_intro.single_intro-partner
        .single_intro_title
          h1.title.title-h1 ExGaming
        .single_intro_tags
          span.single_intro_tag Гэмблинг
        +Btn('Получить промокод', [`default-alt`, 'sm', 'f14'])(data-promo)
        .single_page_copy.single_page_copy--hidden
          +CopyTo('AFFCULT', 'Скидка 50%', 'md')
          a.single_page_copy_link(href="#promo-section") Промокод — как применить?
        .single_intro_info
          p.single_intro_info_item Год открытия: 
            span Неизвестно
          p.single_intro_info_item Официальный сайт: 
            a(href='#') exgaming.partners
        .single_intro_action
          +Btn('Перейти на сайт', [`primary`, 'lg', 'f18', 'fw'])
        .single_intro_preview
          img(src='assets/images/public/post-preview-7.jpg', alt='ExGaming')
      .single_content
        h2.title.title-h2 Общая информация
        .single_text
          p ExGaming — CPA-сеть в iGaming-вертикали с упором на качество. Каждый партнёр получает индивидуальное сопровождение и максимальную поддержку на всех этапах работы.
          p Мы сопровождаем каждого партнёра от подбора оффера до масштабирования. Эксклюзивные офферы, внутренняя экспертиза медиабаинга и продуманный стек инструментов — всё для уверенного роста партнеров, что становится возможным благодаря собственной инфраструктуре с внутренними командами разработки, креатива и аналитики.
          ul 
            li 3000+ офферов — в том числе приватные и эксклюзивные сделки
            li Сильная экспертиза от медиабаинга
            li Высокие ставки — CPA до $600
            li Tier 3 — анкап офферы
            li Европейские бюджеты €1M+ — возможность залива без KPI
        .single_text-alt
          p Получите 5 000₽ на счёт по промокоду AFFCULT на
            a(href='#') сайте!
  
  // How to Use Promo
  +Box({})(id='promo-section')
    .single_how
      .single_content
        h2.title.title-h2 Как использовать промокод
        .single_text
          .single_how_promo
            p ExGaming -
            +CopyTo('AFFCULT', '', 'md')
          p PST.NET предоставляет скидку в 50% на первый месяц обслуживания с промокодом partnerkin. Например, при пополнении баланса на $50, вы сможете сэкономить $25. Только следует также учитывать дополнительные бонусы от сервиса и комиссии банка-эмитента.
        .single_text
          h2.title.title-h2 Как ввести и активировать промокод
          p Промокод partnerkin можно ввести на экране выдачи карты. То есть после регистрации и активации аккаунта.
          p Для этого выполните следующие действия:
          p 1. В личном кабинете перейдите во вкладку «Мои карты».
          img(src="assets/images/public/word-1.jpg", alt="1")
          p 2. Выпустите любую карту.
          p 3. Вас перебросит на страницу реквизитов. Укажите тариф, выберите тип платежной системы, добавьте сумму и заполните остальные поля.
          img(src="assets/images/public/service-1.jpg", alt="1")
          p 4. Выберите пункт «У меня есть промо-код».
    
  // Look a like promos
  +Box({})
    +TableMain(5, 'Похожие промокоды', 'services', '', true)
  
  // Services Table
  +Box({})
    +TableInfluencers([
      {
        img: 'assets/images/public/infl/1.jpg',
        title: 'Александр Дужников',
        tags: ['Гэмблинг'],
        exp: 'более 16 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: true,
        commercial: true
      },
      {
        img: 'assets/images/public/infl/2.jpg',
        title: 'Андрей Колченко',
        tags: ['Гэмблинг', 'Не Гэмблинг'],
        exp: 'более 2 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/infl/3.jpg',
        title: 'Анна Хмызова',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 22 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/infl/4.jpg',
        title: 'Анна Варенич',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 11 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
    ])

  // Single Parametres
  +Box({}, 'Параметры')
    +SingleParametres({}, [
      {
        title: 'Принимаемые страны',
        value: 'Весь мир',
      },
      {
        title: 'Периодичность выплат',
        value: 'По запросу',
      },
      {
        title: 'Запрещенные источники трафика',
        value: 'Фрод, мотивированный трафик',
      },
      {
        title: 'Персональный менеджер',
        value: 'Есть',
      },
      {
        title: 'Модели оплаты',
        value: 'CPA, Reshare и Hybrid',
      },
    ])
    

  // Reviews
  +Box({})
    +Reviews({})

  // Reviews Add Form Auth
  +Box({})
    +ReviewsAddForm({auth: true})

  // Reviews Add Form not Auth
  +Box({})
    +ReviewsAddForm({auth: false})
 
block sidebar-r
  +Sidebar({pos: 'right'})
    
    // Popular Partenrs
    +Box({type: 'sidebar'})
      span.sidebar_title Популярные партнерки
      +Popularitems({})
      span.sidebar_more Показать все
    
    // Ad Banner
    +AdBanner({href: 'https://google.com', banner: 'assets/images/public/banner-right.jpg', title: 'Рекламный баннер', type: 'sidebar'})