//- @title: Варианты таблиц
//- @description: Описание Вариантов таблиц
extends ../layouts/default.pug

block content
  // Filters
  +Box({type: 'shadow'}, 'Варианты таблиц')

  // Services Table
  +Box({})
    +TableMainNew({
      count: 5, 
      title: 'Сервисы (Без скролла)',
    })

  // Services Table
  +Box({})
    +TableMain(5, 'Сервисы (Со скроллом)')

  // Partners Table
  +Box({})
    +TableMainNew({
      count: 4, 
      title: 'Партнерки (Без скролла)',
      type: 'partners'
    })

  // Partners Table
  +Box({})
    +TableMain(4, 'Партнерки (Со скроллом)', 'partners')

  // Influencers Table
  +Box({})
    +TableInfluencersNew([
      {
        img: 'assets/images/public/infl/1.jpg',
        title: 'Александр Дужников',
        tags: ['Гэмблинг'],
        exp: 'более 16 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: true,
        commercial: true
      },
      {
        img: 'assets/images/public/infl/2.jpg',
        title: 'Андрей Колченко',
        tags: ['Гэмблинг', 'Не Гэмблинг'],
        exp: 'более 2 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/infl/3.jpg',
        title: 'Анна Хмызова',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 22 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/infl/4.jpg',
        title: 'Анна Варенич',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 11 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
    ], 'Инфлюенсеры (Без скролла)')

  // Influencers Table
  +Box({})
    +TableInfluencers([
      {
        img: 'assets/images/public/infl/1.jpg',
        title: 'Александр Дужников',
        tags: ['Гэмблинг'],
        exp: 'более 16 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: true,
        commercial: true
      },
      {
        img: 'assets/images/public/infl/2.jpg',
        title: 'Андрей Колченко',
        tags: ['Гэмблинг', 'Не Гэмблинг'],
        exp: 'более 2 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/infl/3.jpg',
        title: 'Анна Хмызова',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 22 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/infl/4.jpg',
        title: 'Анна Варенич',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 11 лет',
        description: 'В 2016 году Александр начал заниматься арбитражем — работал со спам-рассылками в соцсетях. В 2017 году работал с Facebook и белой товаркой, заработал первые полмиллиона рублей в арбитраже. Работал и в командах, и на самого себя. За 7 лет Александр работал с товаркой, нутрой, инфобизнесом, гемблингом. Основной источник трафика — Facebook. В 2018 году участвовал в Бизнес молодости и запускал свой бизнес в товарке. Об этом периоде сам Александр говорит так: «Понял, что это инфоцыганство. История с товаркой — это была задача по развитию сторителлинга». Vibe CPA — команда с нуля. Александр был овнером команды Vibe CPA, для которой лично искал и отбирал сотрудников. Команда существовала около года.',
        verify: false,
        commercial: false
      },
    ], 'Инфлюенсеры (Без скролла 2)')

  +Box({})
    +TableVacanciesNew([
      {
        img: 'assets/images/public/vacancies/1.jpg',
        title: 'SMM Manager',
        tags: ['AFFCT Agency', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: true
      },
      {
        img: 'assets/images/public/vacancies/2.jpg',
        title: 'Affiliate-менеджер',
        tags: ['OctoCPA', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        commercial: true
      },
      {
        img: 'assets/images/public/vacancies/3.jpg',
        title: 'Media Buyer Google Ads | Gambling/Betting',
        tags: ['Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: false
      },
      {
        img: 'assets/images/public/vacancies/4.jpg',
        title: 'Фармер аккаунтов / cпециалист по развитию аккаунтов (с опытом и без)',
        tags: ['RSA Reddit'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        commercial: true
      },
      {
        img: 'assets/images/public/vacancies/1.jpg',
        title: 'SMM Manager',
        tags: ['AFFCT Agency', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: false
      },
      {
        img: 'assets/images/public/vacancies/2.jpg',
        title: 'SMM Ma',
        tags: ['AFFCT Agency', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: false
      },
    ], 'Вакансии (Без скролла)', false)
  
  +Box({})
    +TableVacancies([
      {
        img: 'assets/images/public/vacancies/1.jpg',
        title: 'SMM Manager',
        tags: ['AFFCT Agency', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: true
      },
      {
        img: 'assets/images/public/vacancies/2.jpg',
        title: 'Affiliate-менеджер',
        tags: ['OctoCPA', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        commercial: true
      },
      {
        img: 'assets/images/public/vacancies/3.jpg',
        title: 'Media Buyer Google Ads | Gambling/Betting',
        tags: ['Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: false
      },
      {
        img: 'assets/images/public/vacancies/4.jpg',
        title: 'Фармер аккаунтов / cпециалист по развитию аккаунтов (с опытом и без)',
        tags: ['RSA Reddit'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        commercial: true
      },
      {
        img: 'assets/images/public/vacancies/1.jpg',
        title: 'SMM Manager',
        tags: ['AFFCT Agency', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: false
      },
      {
        img: 'assets/images/public/vacancies/2.jpg',
        title: 'SMM Ma',
        tags: ['AFFCT Agency', 'Удаленно'],
        date: '15.09.2025',
        exp: '1-3 года',
        pay: 'от 1 000$',
        verify: true,
        commercial: false
      },
    ], 'Вакансии (Со скроллом)', false)

  +Box({})
    +TableCommandsNew([
      {
        img: 'assets/images/public/commands/1.jpg',
        title: 'Syndicate Group',
        tags: ['Гэмблинг'],
        exp: 'более 16 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: true,
        commercial: true
      },
      {
        img: 'assets/images/public/commands/2.jpg',
        title: 'Marlerino Group',
        tags: ['Гэмблинг', 'Не Гэмблинг'],
        exp: 'более 2 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/commands/3.jpg',
        title: 'Scrooge team',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 22 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/commands/4.jpg',
        title: 'PlusTeam',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 11 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: false,
        commercial: false
      },
    ], 'Команды (Без скролла)', false)

  +Box({})
    +TableCommands([
      {
        img: 'assets/images/public/commands/1.jpg',
        title: 'Syndicate Group',
        tags: ['Гэмблинг'],
        exp: 'более 16 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: true,
        commercial: true
      },
      {
        img: 'assets/images/public/commands/2.jpg',
        title: 'Marlerino Group',
        tags: ['Гэмблинг', 'Не Гэмблинг'],
        exp: 'более 2 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/commands/3.jpg',
        title: 'Scrooge team',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 22 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: false,
        commercial: true
      },
      {
        img: 'assets/images/public/commands/4.jpg',
        title: 'PlusTeam',
        tags: ['Гэмблинг', 'Не Гэмблинг', 'Бэттинг'],
        exp: 'более 11 лет',
        description: 'Syndicate Group — это топовая команда медиабаинга и крупнейшее performance mark',
        verify: false,
        commercial: false
      },
    ], 'Команды (Без Скролла 2)', false)

  +Box({})
    +TableTG([
      {
        img: 'assets/images/public/tg/1.jpg',
        title: 'CPALENTA',
        subTitle: 'Арбитраж трафика',
        tags: ['Гэмблинг', 'Медиа', 'Образование'],
        subs: 9248,
        oxvat: 2357,
        dinamic: '+1039',
        verify: true,
        commercial: false
      },
      {
        img: 'assets/images/public/tg/2.jpg',
        title: 'Антон Хоменок',
        subTitle: '',
        tags: ['Гэмблинг', 'Образование', 'papa'],
        subs: 6828,
        oxvat: 3391,
        dinamic: '-158',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/tg/3.jpg',
        title: 'CPALENTA',
        subTitle: 'Арбитраж трафика',
        tags: ['Медиа', 'papa', 'Гэмблинг'],
        subs: 81648,
        oxvat: 5556,
        dinamic: '+61',
        verify: false,
        commercial: true
      },
      {
        img: 'assets/images/public/tg/4.jpg',
        title: 'Partneroff',
        subTitle: 'Affiliate News',
        tags: ['Медиа', 'papa', 'Гэмблинг'],
        subs: 758,
        oxvat: 425,
        dinamic: '+109',
        verify: false,
        commercial: false
      },
    ], 'TG Каналы (Со скроллом)', false)

  +Box({})
    +TableTGNew([
      {
        img: 'assets/images/public/tg/1.jpg',
        title: 'CPALENTA',
        subTitle: 'Арбитраж трафика',
        tags: ['Гэмблинг', 'Медиа', 'Образование'],
        subs: 9248,
        oxvat: 2357,
        dinamic: '+1039',
        verify: true,
        commercial: false
      },
      {
        img: 'assets/images/public/tg/2.jpg',
        title: 'Антон Хоменок',
        subTitle: '',
        tags: ['Гэмблинг', 'Образование', 'papa'],
        subs: 6828,
        oxvat: 3391,
        dinamic: '-158',
        verify: false,
        commercial: true
      },
      {
        img: 'assets/images/public/tg/3.jpg',
        title: 'CPALENTA',
        subTitle: 'Арбитраж трафика',
        tags: ['Медиа', 'papa', 'Гэмблинг'],
        subs: 81648,
        oxvat: 5556,
        dinamic: '+61',
        verify: false,
        commercial: false
      },
      {
        img: 'assets/images/public/tg/4.jpg',
        title: 'Partneroff',
        subTitle: 'Affiliate News',
        tags: ['Медиа', 'papa', 'Гэмблинг'],
        subs: 758,
        oxvat: 425,
        dinamic: '+109',
        verify: false,
        commercial: false
      },
    ], 'TG Каналы (Без Скролла)', false)

  // LOAD MORE
  +Box({})
    +BtnPrime({text: 'Загрузить еще', mode: 'flame', size: 'lg'}, 'fw')

block sidebar-r
  +Sidebar({pos: 'right'})
    +Box({type: 'sidebar'})
      span.sidebar_title Специализация
      +Topic([
          { title: 'Гэмблинг', color: "#06B0FF", href: 'commands-topic.html' },
          { title: 'Беттинг', color: "#06FF82", href: 'commands-topic.html' },
          { title: 'Sweepstakes', color: "#FFB406", href: 'commands-topic.html' },
          { title: 'Образование', color: "#FF5506", href: 'commands-topic.html' },
          { title: 'SMM', color: "#FF0606", href: 'commands-topic.html' },
          { title: 'Мобильные приложения', color: "#4D06FF", href: 'commands-topic.html' },
          { title: 'Планирование и менеджеент', color: "#8BFF06", href: 'commands-topic.html' },
          { title: 'Дизайн', color: "#FF0606", href: 'commands-topic.html' },
          { title: 'e-Commerce', color: "#FF9B06", href: 'commands-topic.html' },
          { title: 'Журнал', color: "#06B0FF", href: 'commands-topic.html' },
        ], 4)
      span.sidebar_more Показать все
    // Ad Banner
    +AdBanner({href: 'https://google.com', banner: 'assets/images/public/banner-right.jpg', title: 'Рекламный баннер', type: 'sidebar'})

    // Popular Commands
    +Box({type: 'sidebar'})
      span.sidebar_title Популярные команды:
      +Popularitems({type: 'commands'})
      span.sidebar_more Показать все
    
