mixin CommentItem(props, type = 'popular')
  .comments_item(class=`comments_item-${type}`)
    .comments_item_head
      +AuthorComment({authorName: 'AFF CULT', postTitle: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads'})
    .comments_item_text
      p Я в своей практике сталкивался с тем, как аккаунты блокировались уже после первых $50–100 — и это всё из-за нехватки доверия со стороны Google. Поэтому выбор аккаунта с историей и верификацией — особенно если это RSS + Unban аккаунты — может быть тем решающим фактором, который сохраняет бюджет.
    .comments_item_reacts
      +Reacts([
        {title: 'heart', icon: '❤️', fn: 'log', count: 41},
        {title: 'fire', icon: '🔥', fn: 'log', count: 3},
      ], '', 'sm', 'compare')