mixin CopyTo(promocode = '', discount = '50%', size = 'sm')
  .copy-to(class=`copy-to-${size}`)
    span.copy-to_discount= discount
    span.copy-to_promocode= promocode
    button.copy-to_btn
      svg.copy-to_icon(viewBox="0 0 12 12" width="12" height="12")
        use(href=`assets/images/svg/menu-sprite.svg#copy`)