mixin Pagination()
  .pagination
    ul.pagination_list
      li.pagination_item
        a.pagination_link.pagination_prev(href="#")
      li.pagination_item
        span.pagination_current 1
      li.pagination_item
        a.pagination_link(href="#") 2
      li.pagination_item
        a.pagination_link(href="#") 3
      li.pagination_item
        a.pagination_link(href="#") 4
      li.pagination_item
        a.pagination_link(href="#") 5
      li.pagination_item
        a.pagination_link.pagination_next(href="#")