mixin SinglePage(props = {})
  .single_page&attributes(attributes)
    .single_page_nav
      +Btn(props.backBtn, [`go-back`, 'md', 'f16'])
      if (props.nav)
        .single_page_nav_inside
          each item, index in props.nav
            if (index === 0)
              +Btn(item, [`go-back`, 'md', 'f14'])
            else if (index === 1)
              +Btn(item, [`go-forward`, 'md', 'f14'])
    .single_page_content
      block
      
mixin SingleContent()
  .single_content
    block

mixin SingleParametres(props, items = [])
  .single_parametres
    .single_parametres_items
      each item in items
        .single_parametres_item
          span.single_parametres_item_title= item.title
          if (props.link)
            a.single_parametres_item_value(href=item.link)= item.value
          else
            span.single_parametres_item_value= item.value
    if (!props.hideBtn)
      .single_parametres_footer
        +Btn(`Сообщить об ошибке`, [`glass`, 'sm', 'f14'], 'form-mistake')
    