include ../components/head.pug
include ../components/sidebar.pug
include ../components/ad.pug
include ../components/box.pug
include ../components/filters.pug
include ../components/menu.pug
include ../components/button.pug
include ../components/logo.pug
include ../components/search.pug
include ../components/burger.pug
include ../components/topic.pug
include ../components/post.pug
include ../components/author.pug
include ../components/post-actions.pug
include ../components/reacts.pug
include ../components/conferences.pug
include ../components/swiper.pug
include ../components/shorts.pug
include ../components/table.pug
include ../components/copy-to.pug
include ../components/review-stat.pug
include ../components/comments.pug
include ../components/modal.pug

doctype html
html(lang="ru")
  // page — объект из templateParameters (см. webpack.config.js)
  +Head(page)

  body.body
    //- +AdBanner({href: 'https://google.com', banner: 'assets/images/public/banner-top.jpg', title: 'Рекламный баннер'})

    // Modal banner Sizes
    +Modal('banner-sizes')
      +Box({})
        +adModal()

    // Modal Search Results
    +Modal('search-results')
      .modal_box
        +SearchResults()

    // Modal Menu
    +Modal('mobile-menu')
      .modal_box
        +Search({modal: true})
      .modal_box
        +Menu([
          { title: 'Статьи', href: 'posts.html', icon: 'posts' },
          { title: 'Медиа', href: 'media.html', icon: 'media' },
          { title: 'Конференции', href: 'conferences.html', icon: 'conf' },
          { title: 'Партнерки', href: 'partners.html', icon: 'partners' },
          { title: 'Сервисы', href: 'services.html', icon: 'services' },
          { title: 'Инфлюенсеры', href: 'influencers.html', icon: 'infl' },
          { title: 'Вики', href: 'wiki.html', icon: 'wiki' },
          { title: 'Арбитражные команды', href: 'commands.html', icon: 'commands' },
          { title: 'Telegram-каналы', href: 'tg-channels.html', icon: 'tg' },
          { title: 'Вакансии', href: 'vacancies.html', icon: 'vacancies' },
          { title: 'Журнал', href: 'magazine.html', icon: 'magazine' },
        ], 0)

    // Modal Topic
    +Modal('mobile-topic')
      .modal_box
        span.sidebar_title Темы
        +Topic([
            { title: 'Google Ads', color: "#06B0FF", href: 'posts-topic.html' },
            { title: 'Блоги', color: "#06FF82", href: '' },
            { title: 'Досье', color: "#FFB406", href: '' },
            { title: 'Кейсы', color: "#FF5506", href: '' },
            { title: 'Обзор', color: "#FF0606", href: '' },
            { title: 'Обучение', color: "#4D06FF", href: '' },
            { title: 'Полезное', color: "#8BFF06", href: '' },
            { title: 'Правила', color: "#FF0606", href: '' },
            { title: 'Спор', color: "#FF9B06", href: '' },
            { title: 'Журнал', color: "#06B0FF", href: '' },
          ], 5)
        span.sidebar_more Показать все
    
    .page
      include ../components/header.pug
      .container.content.content-ad
        +Sidebar({})
          // Main Menu
          +Box({})
            +Menu([
                { title: 'Статьи', href: 'posts.html', icon: 1 },
                { title: 'Медиа', href: 'media.html', icon: 2 },
                { title: 'Конференции', href: '#', icon: 3 },
                { title: 'Партнерки', href: '#', icon: 4 },
                { title: 'Сервисы', href: '#', icon: 5 },
                { title: 'Инфлюенсеры', href: '#', icon: 6 },
                { title: 'Вики', href: '#', icon: 7 },
                { title: 'Арбитражные команды', href: '#', icon: 8 },
                { title: 'Вакансии', href: '#', icon: 9 },
                { title: 'Журнал', href: '#', icon: 10 },
              ], 3)
          // Ad Banner
          +AdBanner({href: 'https://google.com', banner: 'assets/images/public/banner-left.jpg', title: 'Рекламный баннер', type: 'sidebar'})
          // Alt Menu
          +Box({})
            +Menu([
                { title: 'О проекте', href: '#' },
                { title: 'Реклама', href: '#' },
                { title: 'Правила', href: '#' }
              ], 100, 'alt')
        main.main.main-ad
          block content
      include ../components/footer.pug