include ../components/head.pug
include ../components/sidebar.pug
include ../components/ad.pug
include ../components/box.pug
include ../components/filters.pug
include ../components/menu.pug
include ../components/button.pug
include ../components/logo.pug
include ../components/search.pug
include ../components/burger.pug
include ../components/topic.pug
include ../components/post.pug
include ../components/author.pug
include ../components/post-actions.pug
include ../components/reacts.pug
include ../components/conferences.pug
include ../components/swiper.pug
include ../components/shorts.pug
include ../components/table.pug
include ../components/copy-to.pug
include ../components/review-stat.pug
include ../components/comments.pug
include ../components/influencer.pug
include ../components/socials.pug
include ../components/wiki.pug
include ../components/modal.pug
include ../components/single.pug
include ../components/speakers.pug
include ../components/stars.pug
include ../components/media.pug
include ../components/reviews.pug
include ../components/popular.pug
include ../components/command.pug
include ../components/tag.pug
include ../components/tg.pug
include ../components/vacancies.pug
include ../components/link.pug

doctype html
html(lang="ru")
  // page — объект из templateParameters (см. webpack.config.js)
  +Head(page)

  body.body

    .page
      .container.content.content--links
        main.main
          block content